[2018-04-05 01:38] weaverbel opened #2 "Contact page - anything to add?"
Does anyone have anything to add to this? https://carpentries.github.io/new-website/contact/

[2018-04-05 19:43] kariljordan opened #7 "Assessment Page"
I would like for the most recent assessment reports to be listed on the main Carpentries website. Right now when you click on the Assessment link it leads to the [assessment page in the handbook](https://docs.carpentries.org/topic_folders/assessment/index.html), and the handbook says our results are on our website. When you click the website link under learner assessment in the handbook it leads t

[2018-04-06 20:52] ErinBecker opened #11 "Teach --> Instructor Training"
Should this go to [the instructor training curriculum](http://carpentries.github.io/instructor-training/) or to the documentation about instructor training in the [handbook](https://docs.carpentries.org/topic_folders/instructor_training/index.html)?

[2018-04-06 20:53] ErinBecker opened #12 "drop down nav menus are over-populated - WIP"
There are an awful lot of items in many of the drop down nav menus. This makes for a very crowded and overwhelming feel.

I recommend the following for the About menu:

## About
- About Us
- Code of Conduct
- Governance
- Policies

(Unless there is a legal requirement that we make "Privacy Policy" it's own category, I would recommend letting it stand within the Policies category.)

Will add to thi

[2018-04-06 20:58] ErinBecker opened #13 "remove learner profiles"
The [learner profiles](https://software-carpentry.org/audience/) page is currently listed in both the `Learn` and `Teach` drop down menus. There is no context on this page for what the Learner Profiles represent. I expect it will be unclear what the significance of these profiles is. To my knowledge, these were not displayed from any nav menu on the SWC site.

It may be valuable to include these l

[2018-04-06 20:59] ErinBecker opened #14 "drop down nav menus don't disappear - overlap"
The drop down navigation menus don't disappear when you move your mouse away from one of them, leading to lateral overlap between navigation menus.

[2018-04-10 22:32] fmichonneau opened #22 "all links to mailing lists are broken"
all the links in the mailing list table at the bottom of /join are broken

[2018-04-10 22:33] fmichonneau opened #23 "search bar on 404 page doesn't show up"
the HTML code is rendered instead

[2018-04-10 23:44] weaverbel commented on #7
Can I close this now?

[2018-04-11 00:18] maneesha opened #27 "rename repo - no dot"
Can we rename the repo to be something without a dot in it?

[2018-04-11 00:43] maneesha opened #29 "Mailing lists should have a heading"
They just appear below the calendar with no context

[2018-04-11 00:45] maneesha commented on #29
See #30

[2018-04-11 00:47] maneesha opened #31 ""More" link is broken"
The "More" link  button under "What we do" on the main site is broken - goes to github 404

[2018-04-11 00:48] maneesha commented on #31
Actually all three of the "more" links on the main page to go github 404

[2018-04-11 00:50] maneesha opened #32 "Bullets on Governance page are misaligned"
See image
![image](https://user-images.githubusercontent.com/829690/38590707-f09a93d2-3d00-11e8-992e-b00b58a44595.png)

[2018-04-11 00:56] maneesha opened #33 "Does assessment info stay on DC website?"
On this page (https://carpentries.org/assessment/) the link to the Assessment Network goes to the page on the DC website.  Should this be moved to the Carpentries website?

[2018-04-11 00:57] weaverbel commented on #32
Fixed

[2018-04-11 00:57] #32 closed

[2018-04-11 00:57] maneesha opened #34 "Broken link to IRB"
Link to IRB approval and Determination Letter on from page is broken
https://carpentries.org/assessment/

[2018-04-11 00:58] maneesha opened #35 "Assessment page leads to DC surveys only"
From here (https://carpentries.org/assessment/)
there are previews for DC surveys but not SWC or LC surveys

[2018-04-11 01:00] weaverbel commented on #33
Have fixed that now - thanks for checking

[2018-04-11 01:00] #33 closed

[2018-04-11 01:02] maneesha opened #36 "Broken link to instructor training"
Link on this page: https://carpentries.org/join/
"... receive priority access to instructor training"

The link to instructor training is broken.

[2018-04-11 01:04] maneesha opened #37 "Mentoring groups - link to blog post or handbook?"
On the Join page there is a bullet item:

This links to a blog post.  Should it link to the blog post or the handbook?

[2018-04-11 01:05] maneesha commented on #37
Same thing for Curriculum Advisory Commitee linked to on the same site

[2018-04-11 01:09] jduckles commented on #27
What is wrong with the dot?

[2018-04-11 01:11] weaverbel commented on #37
@ErinBecker is working on a new Join page. This is a placeholder. Since all the info for mentees and CACs is in those blog posts, it seemed safest to link to them until the new page which will include that info in a static form is available. @maneesha

[2018-04-11 01:11] #34 closed

[2018-04-11 01:11] maneesha opened #38 "Instructors should be on Carpentries site"
Right now when you click on Our Team --> Our Instructors it takes you to the SCF member page.
The SCF members represent a smaller group than the whole instructor pool which represents instructors who have not taught in the last two years.

[2018-04-11 01:13] maneesha opened #39 "Lesson Maintainers heading should be centered"
On this page (https://carpentries.org/maintainers/)
the heading "Our Current Lesson Maintainers" is above the leftmost column.  This should be centered across text or outside the table entirely.

[2018-04-11 01:13] weaverbel commented on #38
Yes, but we would need to build a new list of instructors - I have created the maintainers and trainers from AMY lists but did not have time to create a new page of all instructors as that was a massive job. Lots of this stuff is 'placeholder' until we can create a new pull out of AMY. I don't know how to do that.

[2018-04-11 01:14] jduckles commented on #31
Fixed by 8de6053

[2018-04-11 01:14] #31 closed

[2018-04-11 01:15] weaverbel commented on #36
Fixed

[2018-04-11 01:15] #36 closed

[2018-04-11 01:15] maneesha commented on #38
We have this instructors page on the Software Carpentry website that includes all members who choose to be listed, regardless of the membership status.

The map is built from AMY.
The bios are *not* built from AMY but rather from the bios that instructors provided themselves.

https://software-carpentry.org/team/

[2018-04-11 01:15] #39 closed

[2018-04-11 01:24] jduckles commented on #23
Changed extension of the search page to `.html` in 908aca913558247afba79 that should fix it.

[2018-04-11 01:24] #23 closed

[2018-04-11 01:26] jduckles commented on #14
If I click anywhere in the top-level of the menu, it takes me to the link for that level of the menu as defined in: https://github.com/carpentries/carpentries.org/blob/gh-pages/_data/navigation.yml

[2018-04-11 01:27] #22 closed

[2018-04-11 01:27] jduckles commented on #29
Fixed by #30

[2018-04-11 01:27] #29 closed

[2018-04-11 01:29] weaverbel commented on #35
Have added that now

[2018-04-11 01:29] #35 closed

[2018-04-11 01:29] jduckles commented on #14
I'm going to say won't fix on this one as it is the same behavior as SWC and DC websites. Seems to be a theme problem.

[2018-04-11 01:29] #14 closed

[2018-04-11 01:30] jduckles commented on #2
Closing, feel free to reopen if necessary.

[2018-04-11 01:32] weaverbel commented on #38
Ok, will change my link over - thanks

[2018-04-11 01:33] weaverbel commented on #38
Ok, link changed - nav building now.

[2018-04-11 01:33] #38 closed

[2018-04-11 01:36] #27 closed

[2018-04-11 16:03] ErinBecker commented on #14
It's not causing problems for me anymore. Thanks for looking into this.

[2018-04-12 01:08] jduckles opened #43 "Add Donate Link"

[2018-04-12 20:37] ErinBecker opened #44 "changes to where links go from homepage"
On the homepage, there is a "ways you can engage" link. This currently goes to the join page. It should go to the community page now.

[2018-04-12 20:38] ErinBecker commented on #44
The next link (the community calendar) should also go to the community page. Should link specifically to the calendar section of the community page.

[2018-04-12 20:39] ErinBecker commented on #44
The "Carpentries Clippings" link (next link in that section) should go to a page where you can view past issues of the newsletter.

[2018-04-12 20:40] ErinBecker opened #45 "change instances of "Lesson Maintainers" to "Maintainers""
The term that we use for this community role is "Maintainers".

[2018-04-12 20:42] ErinBecker opened #46 "memberorgs page should include a link to "become a member org" site"
Probably at the top.

[2018-04-12 20:51] ErinBecker opened #47 "extraneous "our team" in drop down menu"
In the "Our Team" drop down menu the first two items are "Our Team" and "Our Staff". Both go to the same page "/team" and it is titled "Team Carpentries".

I think it should only be a single list item, should be called "Our Staff", should have a permalink "/staff" and be titled "The Carpentries Staff".

[2018-04-12 20:53] ErinBecker opened #48 "Broken link on donate page"
On the Donate page (https://carpentries.org/donate/) there is a link to "supporting organizations" (https://carpentries.org/scf/partners/). Should link to https://carpentries.org/memberorgs/ rather than scf/partners.

[2018-04-12 20:54] jduckles opened #49 "Separate blog to its own repository"
Before launch, I will move the blog to its own repository. This will keep the blog separate from the rest of the website.

[2018-04-12 20:55] jduckles opened #50 "Add SWC & DC Logos to the website"

[2018-04-12 22:12] weaverbel commented on #47
Out team also includes instructors, maintainers and trainers - how do you suggest we handle those if the link only goes to staff?

[2018-04-12 23:08] weaverbel commented on #46
Added.

[2018-04-12 23:08] #46 closed

[2018-04-12 23:26] weaverbel commented on #44
All fixed now

[2018-04-12 23:26] #44 closed

[2018-04-12 23:35] weaverbel commented on #45
working on it

[2018-04-12 23:55] weaverbel commented on #45
Think I have removed them all now

[2018-04-12 23:55] #45 closed

[2018-04-12 23:58] weaverbel opened #51 "Migrate instructors info from SWC website to the Carpentries"
We need to move over the instructor information and list from SWC to the new site. So we can replicate this info: https://software-carpentry.org/team/ for The Carpentries.

It should then be taken down from SWC site.

This will mean a change of procedure for @maneesha and @sheraaron when adding new instructor bios.

[2018-04-13 00:10] weaverbel opened #52 "Migrate testimonials from SWC site"
It would be good to have some SWC and DC testimonials on the Carpentries site.

[2018-04-13 00:32] weaverbel commented on #43
I think we have this sorted now.

[2018-04-13 00:32] #43 closed

[2018-04-13 00:32] weaverbel opened #53 "Break community page up into smaller subpages"
This page is comprehensive but long so I propose we break it up into smaller chunks for easier loading and less scrolling.

[2018-04-13 01:01] weaverbel commented on #49
We already have blog.carpentries.org, I think.

[2018-04-13 01:04] jduckles commented on #49
I shut that down awhile back. This will be starting with a simple feeling responsive theme, but only for blog posts. We'll copy the styles from this repo, but the posts and feeds will all feed from blog.carpentries.org. This will should help us avoid the future technical debt of Jekyll taking 3-min to build the website and blog at once.

[2018-04-13 01:08] weaverbel commented on #49
Sounds good to me!

[2018-04-13 01:14] weaverbel opened #54 "Need Mission and Vision to add to About"
Once the new mission and vision are created, we need to make this a page on About.

[2018-04-13 02:10] jduckles opened #55 "Analytics"
We do get some amount of logging and analytics from our CDN configuration, but I think I'd rather not use Google Analytics going forward. I'm investigating [Matomo](https://matomo.org/) as a privacy conscious alternative.

[2018-04-13 02:20] weaverbel opened #56 "Create a separate Committees and Task Forces page?"
I would like to see a separate listing of all committees and task forces. At the moment, these are scattered throughout the community page and it might be useful to present the complete list in one place.

I have created a sample page but not linked to it from anywhere: http://static.carpentries.org/subcom-tf/

[2018-04-13 02:24] weaverbel opened #57 "Need more info on merger for About"
Would be good to have a proper explanation of the merger and our history since.

[2018-04-13 02:25] weaverbel opened #58 "Exec Council need to provide info on where their proceedings are for Governance page"
We need a link for Exec Council terms of reference, duties, roles, minutes, etc.

[2018-04-13 02:27] weaverbel opened #59 "Fix formatting on Our Members page"
This has weird wrapping and poor layout

[2018-04-13 02:30] weaverbel commented on #2
Reopening to assist with website review

[2018-04-13 02:34] weaverbel opened #60 "Pull list of maintainers from AMY"
To populate this page which was created manually. https://carpentries.org/maintainers/

[2018-04-13 02:35] weaverbel opened #61 "Pull list of trainers from AMY"
to populate this manually created page https://carpentries.org/trainers/

[2018-04-13 02:38] weaverbel opened #62 "Need to develop instructor resources content"
This can be on website or handbook, but it would be good to see a list of instructor resources developed.

[2018-04-15 23:08] weaverbel commented on #37
Since the other page is live now, I am closing this.

[2018-04-15 23:08] #37 closed

[2018-04-16 01:05] kariljordan commented on #7
I am fine with this as it is now, so we can close this issue. I will submit a PR at some point to update a few things, for example, DC's surveys are different from SWC's, so I'll do a few edits. We can close this now.

[2018-04-16 01:05] #7 closed

[2018-04-16 04:26] weaverbel opened #63 "Need some DC testimonials to balance Software Carpentry ones"
We now have a testimonials page here: https://carpentries.org/testimonials/

This is a straight lift from the SwC site. Are there DC ones to be added? It would be good to alternate.

[2018-04-16 04:27] weaverbel commented on #52
Have added SwC.

[2018-04-16 04:27] #52 closed

[2018-04-17 13:49] maneesha opened #64 "Voting rights for instructors?"
The [Instructors section](https://carpentries.org/community/#instructors) on the Join us page says Instructors must

Is this true? I was not aware that this was agreed to by the new Executive Council.  It's different than what was required by the old SWC steering committee.

[2018-04-17 16:16] ErinBecker commented on #64
This was meant to reflect the old SWC requirements. It has not been agreed on by the new EC (or to my knowledge discussed by the EC). If it is inaccurate based on the old SWC requirements, could you please put in a PR to correct it? Thanks!

[2018-04-19 01:56] libcce opened #66 "Web Validation Tools"
List of tools to check the accessibility of the website:
http://carlispina.com/webaccessibility/validation.html

[2018-04-19 02:07] libcce opened #67 "Logo disappears on smaller screens"
Logo disappears on smaller screens, e.g. iPhone:
http://quirktools.com/screenfly/#u=https%3A//carpentries.org/&w=375&h=667&a=37

[2018-04-19 02:11] libcce opened #68 "Home page: Consistency in language used about The Carpentries"
Language is slightly different, do we want consistency between these statements:

In the banner:
We teach foundational coding and data science skills to researchers worldwide.

Under “What we do”:
The Carpentries teach foundational computational, coding, and data science skills to researchers worldwide.

Under “About the Carpentries”, in the footer:
We are a global community teaching foundational

[2018-04-19 02:31] libcce opened #69 "Home page: New blog posts, <h2> to <h3>"
Under "New Blog Posts", the first headline should be an h3 instead of an h2 (currently the story is "Building Library Carpentry...".

[2018-04-19 15:09] maneesha opened #71 "Style guide question: Comma between month and year?"
In the About page, should this read

or

[2018-04-19 15:11] maneesha opened #72 "Donate link seems oddly placed"
https://carpentries.org/about/

Under the first paragraph is a sentence with a donate link.  This seems out of place but I'm not sure whare a better place to put this would be.  I defer to others if they think it looks ok.

[2018-04-19 15:15] maneesha opened #74 "Referring to DC and SWC as parts of The Carpentries"
When we refer to DC and SWC as parts of The Carpentries,  should we be consistent and say one of these?

* "Data and Software Carpentry"
* "Software and Data Carpentry"
* "Software Carpentry and Data Carpentry"
* it doesn't matter

This is inconsistent on the About page.

[2018-04-19 15:17] maneesha opened #75 "Are community roles proper nouns?"
On the about page we refer to "Instructors, Trainers, Maintainers, helpers"
Are all roles proper nouns? In this case should helpers be capitalized?

[2018-04-19 15:21] maneesha opened #77 "Link only to Carpentries twitter?"
The Join Us section on the About Us  page links to the Carpentries twitter but  not the the SWC and DC twitter handles.  Is this intentional?

[2018-04-19 15:23] maneesha opened #78 "Link to newsletter - subscribe & archives"
The Join Us section on the About Us page links the link to the newsletter goes to the subscribe page.  Can we also include a link to the archives?

[2018-04-19 15:30] ErinBecker commented on #75
I've been trying to standardize referring to all specific community roles (particularly those that require certification or a specific commitment) to be capitalized. I have not been capitalizing "trainees" or "learners", but have been capitalizing "Instructors", "Trainers", "Maintainers", "Curriculum Advisors", "Mentors", etc.

I would vote for not capitalizing "helpers" as it is not similar to th

[2018-04-19 15:31] maneesha opened #80 "Instructors should be on Carpentries website"
Right now clicking Our Team --> Our Instructors takes you to the instructor map/list on the SWC website.
Instructors are common to Carpentries - should be on Carpentries website, not SWC website.

[2018-04-19 15:40] maneesha opened #81 "Consistency in html vs md formatting"
Headings are sometimes formatted html style (`<h1>...</h1>`) and sometimes markdown style ('###').
Will this affect how pages are rendered especially as the site grows?

Example

html style:  https://raw.githubusercontent.com/carpentries/carpentries.org/gh-pages/pages/about.md
md style:  https://raw.githubusercontent.com/carpentries/carpentries.org/gh-pages/pages/community.md

[2018-04-19 15:44] maneesha commented on #68
This consistency should be applied to the About page as well:
"...who share a mission to teach foundational computational and data science skills to researchers."

[2018-04-19 15:51] maneesha opened #82 "British spelling: "organisation" not "organization""
Should all these spellings of "organization" be fixed?

https://github.com/carpentries/carpentries.org/search?utf8=%E2%9C%93&q=organization&type=

Note the [style guide](https://docs.google.com/document/d/10KutjajR-5RJfPAF8UQlxzcd8tx4PNFXH0acDFD2dBs/edit) itself spells organization with a z.

[2018-04-19 15:53] maneesha opened #83 "Staff contact emails not listed"
The [contact page](https://carpentries.org/contact/) links to the staff page to contact staff members directly but staff email addresses are not listed.

[2018-04-19 16:53] fmichonneau commented on #81
I think we should use markdown formatting as much as possible. It will ensure more consistent formatting. It could be part of a "technical style guide'".

I think the performance issue is pretty minimal as in both case, the files have to be parsed by kramdown.

[2018-04-19 16:55] fmichonneau commented on #75
For comprehensiveness, it seems that "contributor(s)"  doesn't get capitalized either.

[2018-04-19 17:46] maneesha commented on #81
Agreed @fmichonneau that md formatting is easier to maintain consistency.  Is it important to convert the html formatting to md formatting now?

The examples I gave are for headings, but this is also true for other things like hyperlinks sometimes formatted html style as `<a href...` and sometimes md style `[text](url)`

[2018-04-19 17:53] maneesha commented on #72
Related:  Is this page linked to from anywhere?
https://github.com/carpentries/carpentries.org/blob/e824b95d35521fbdfdfdf1873bfb7de264ec800b/pages/donate.md

http://static.carpentries.org/donate/

[2018-04-19 18:02] fmichonneau commented on #81
I don't think it's worth spending time converting from html to md at this stage. Moving forward we should try to make sure md is used whenever possible.

[2018-04-19 22:32] ErinBecker commented on #83
+1

Staff contact emails need to be added to the staff page.

[2018-04-19 22:33] ErinBecker commented on #77
We should list all three Twitter accounts here. The same applies on the Contact page.

[2018-04-19 23:02] ErinBecker commented on #77
Addressed on Contact page with https://github.com/carpentries/carpentries.org/pull/88.

Not yet addressed on About Us page.

[2018-04-20 01:31] weaverbel commented on #77
Have added to About

[2018-04-20 01:31] #77 closed

[2018-04-20 01:48] weaverbel commented on #83
I agree but we need an icon to use for email. When I add an email address now, the `yaml` renders it as an empty icon with a blinking question mark. @jduckles or @fmichonneau do you have an icon we can use for email? Or is there some other way we can list it in the `team.yml` file?

[2018-04-20 02:10] weaverbel commented on #83
I have now used the Google plus icon which is not ideal but it allows email addresses to be added. I will do that till we can get an email icon we can use.

[2018-04-20 02:17] weaverbel commented on #82
I will fix these and also update the Style Guide.

[2018-04-20 02:26] weaverbel commented on #83
All email addresses added now with the Google Plus icon.

[2018-04-20 02:27] weaverbel commented on #80
I agree but I need someone to help with this as there is a ton of material to move - images, bios, etc.

[2018-04-20 02:29] weaverbel commented on #81
I will work to change to markdown when I edit pages but on the whole we can let this all happen gradually.

[2018-04-20 02:29] weaverbel commented on #78
I will add it now.

[2018-04-20 02:31] #78 closed

[2018-04-20 02:38] weaverbel commented on #72
We can remove it from `About` as I have now made it a top menu item on all pages.
Can people please add +1 to remove it from `About`, or -1 to leave it there as well?

[2018-04-20 02:40] weaverbel commented on #69
I don't know where this formatting comes from - does anyone know?

[2018-04-20 16:23] ErinBecker opened #89 "remove link to "instructor training" handbook page from "Learn" menu"
This page is about how to run instructor training events and doesn't belong in the "Learn" menu.

[2018-04-20 21:02] sheraaron commented on #51
I plan to add a new batch of instructor bios next week. should I hold off on this @weaverbel ? @maneesha  I will add this to our one on one for next week.

[2018-04-21 00:51] maneesha commented on #51
@weaverbel  Will the images and bios need to be formatted the same way?  If so then the procedure will be pretty much the same thing, just pushing to a different repo.

If things need to be formatted differently please let me and @sheraaron  know so we can work on this.

[2018-04-22 16:51] #89 closed

[2018-04-22 17:08] tracykteal opened #95 "Link to most recent issue of newsletter"
Under the 'Blog' drop down could we add 'Newsletter' and have it link to the most recent version of the newsletter? Then it would be a place for the most recent news, and the links have all the information on how to sign up for the newsletter too.

e.g. https://us14.campaign-archive.com/?u=46d7513c798c6bd41e5f58f4a&id=21eaf480e5

I just don't know if there's a URL that will always take you to the

[2018-04-22 19:21] elizabethwilliams8 opened #97 "Expired memberships listed on Supporting Organisations page"
Of the organisations listed on the page these institutions are no longer members:
Met Office
NLeSC
University of Melbourne

these institutions have membership renewal in process (but technically are not currently members):
BIDS
University of Miami

I differentiate because it may be ok to leave BIDS and Miami up, but the others should probably not be listed (sorry that I do not know how to remove t

[2018-04-22 19:28] elizabethwilliams8 opened #98 "Updating Member Organsations"
I will send out a form to gather the logo description and URL for our current members (not already on this page and not on the Typeform below already).

[This Typeform](https://admin.typeform.com/form/hzi3U8/results#summary) is the one I am using, and there are 12 submissions for members that have come on board recently (I have added gathering this to my onboarding workflow).

[2018-04-22 19:36] tracykteal opened #100 "add 'why teach' testimonials to teach.md"
I think we have testimonials from Beth Duckles and @weaverbel's work on why people teach. We could create a testimonials page for why people teach and link to it from the teach.md page.

[2018-04-22 19:38] tracykteal opened #101 "map of instructors"
We could create a map of where all our instructors are and include a link to that map from the teach.md page. Ideally it would update regularly and automatically.

[2018-04-22 19:41] tracykteal opened #102 "Member Organizations under About?"
Rather than having 'Member Organizations' under 'Join Us', should we put it under 'About'?

Might also be related to getting updated member organization information.
https://github.com/carpentries/carpentries.org/issues/98

@jduckles @elizabethwilliams8 do you have thoughts on the best place for 'Member Organizations' as a category?

[2018-04-22 19:47] tracykteal commented on #64
The EC is working on updating the bylaws. That is the SWC requirement, but I would recommend we just take that off the website for now. Do we have a 'roles and responsibilities' document for instructors that we could point to there instead?

[2018-04-22 19:58] elizabethwilliams8 commented on #102
This is a tough one. I think I actually would like it best under 'Our Team' along with the other lists of categories of the community. 'About Us' doesn't include other lists, and our maintainers, instructors and staff are 'Us' just as much as member organizations, so it feels a bit awkward there (this thought led to including members in Team). 'Join Us' would be my next vote, but I'm not sure that

[2018-04-22 21:02] jduckles commented on #83
Icon probs fixed by: 30d73f384 and 9db8e6d67660faa9e600e633efddc373025e89cd.

[2018-04-22 21:02] #83 closed

[2018-04-22 21:08] sheraaron opened #103 "Join Us - Trainers"
The title "Trainers Material" is misleading - the link goes to the Train the Trainer curriculum. I was expecting resources for trainers. Recommend changing to "Trainers Curriculum" or something similar.

[2018-04-22 21:09] jduckles commented on #101
I can get this going when I have some time next week.

[2018-04-22 21:11] sheraaron opened #104 "Join Us - Mentors link"
The "Mentors" link on the join us page under "We do this through" does not direct you to the mentoring page. It doesn't go anywhere.

[2018-04-22 21:17] maneesha commented on #101
We already have this on the SWC site.  Can we migrate this to the Carpentries site?

[2018-04-23 01:20] kariljordan opened #105 "IRB Determination letter"
Hi @ErinBecker, I don't think the correct IRB letter is on the **OUR IMPACT**/Assessment [page](https://carpentries.org/assessment/).

[2018-04-23 05:37] weaverbel commented on #104
Pinging @ErinBecker - where should this link to?

[2018-04-23 05:38] weaverbel commented on #103
What page are you saying this happens on @sheraaron ? I will try to fix once I know where to look.

[2018-04-23 05:39] weaverbel commented on #102
I think it belongs under both `Join us` and `About` - it doesn't hurt to have stuff linked from two places. Our existing members are a big part of our `About story`, but we also want new members to join.

[2018-04-23 05:41] weaverbel commented on #102
I have added Current ... to About menu - what do people think?

[2018-04-23 15:11] fmichonneau commented on #95
See #108 for a partial solution.

[2018-04-23 15:40] elizabethwilliams8 commented on #97
@weaverbel I have addressed this in issue #98. However, I won't have all the logos, descriptions, etc...immediately, so would we want to just publish a list for now? I will send you one, just in case.

[2018-04-23 15:59] sheraaron commented on #103
@weaverbel on the Join Us page under the subtopic Trainers

[2018-04-23 16:02] elizabethwilliams8 commented on #102
Looks good to me! Will trust your instincts about differentiating the members from the team @weaverbel

[2018-04-23 19:35] tracykteal opened #109 "'Connect' page"
Related to https://github.com/carpentries/carpentries.org/pull/108, we could add a 'Connect' page with an overview of how to connect with us, like the 'Learn' and 'Teach' pages, and also put a link to Slack in there and a link to the 'Join Us' page for more information on specific things.

[2018-04-23 19:36] fmichonneau commented on #109
that sounds good. I'll work on this. We'll need to check for the overlap with "Join Us".

[2018-04-23 19:40] tracykteal commented on #109
Right, I think we mainly link to 'Join Us' for more specific information.

Teach and Learn are both relatively short.

[2018-04-23 20:32] #69 closed

[2018-04-23 20:37] maneesha opened #112 "Presence of Library Carpentry on this website?"
What is LC's presence going to be on the Carpentries website?
Other than the blog post about Chris's hire I do not see any mention of LC on this site.

[2018-04-23 20:50] ErinBecker commented on #64
@tracykteal - we don't yet have a roles and responsibilities document for Instructors. The Trainers group has been discussing that again and will be talking about it at the business meeting this Thursday. Let's take this portion off the website for now.

[2018-04-23 20:53] ErinBecker commented on #51
The formatting should be the same, since this repo and the SWC/DC sites all
use the same jekyll template.

On Fri, Apr 20, 2018 at 5:51 PM, maneesha sane <notifications@github.com>
wrote:

--
Associate Director, The Carpentries

[2018-04-23 20:59] tracykteal commented on #64
OK, sounds good, will put in a PR.

[2018-04-23 21:19] ErinBecker opened #113 "broken things"
The "apply to be an instructor" button is broken.

[2018-04-24 03:41] weaverbel commented on #113
Have fixed the button.

[2018-04-24 03:41] #113 closed

[2018-04-24 03:43] weaverbel commented on #112
I will leave this for @tracykteal to decide. I am happy to say something about LC, but am not sure what Tracy and the Exec Council's official line is.

[2018-04-24 03:44] weaverbel commented on #109
@fmichonneau @tracykteal there is also some of that info on `About`. It would be good to decide where it best sits and then consolidate it.

[2018-04-24 04:10] weaverbel commented on #97
A list is plenty. Maybe even better?

[2018-04-24 06:26] weaverbel commented on #95
This page looks broken to me @fmichonneau - the archive isn't showing.
https://carpentries.org/newsletter/

[2018-04-24 12:53] fmichonneau commented on #95
yes, something is wrong. It renders fine locally, but not on the server. I spent 1 hour trying to identify the issue yesterday but didn't find a solution. I'll look into it more.

[2018-04-24 15:50] fmichonneau commented on #95
the page now renders properly

[2018-04-24 16:30] elizabethwilliams8 commented on #97
@weaverbel emailed you a membership list already; replied to it to get it to the top of your inbox.

[2018-04-24 19:37] ErinBecker commented on #104
Good catch @sheraaron! It is meant to be a direct in-page link to the Mentoring section in that same page (not an external mentoring page).

[2018-04-24 19:38] ErinBecker commented on #104
I see - it needs to be changed to https://carpentries.org/community/#mentoring

[2018-04-24 23:29] tracykteal commented on #112
There hasn't been official motions from either side about a formal relationship. It's under discussion now, so we'll hold off on including it for now.

[2018-04-25 00:05] tracykteal commented on #109
I took some of the things out of Connect and added a little intro text in #116

[2018-04-25 11:55] tracykteal commented on #72
Looks like it's been removed from About, and +1 for that. Closing this.

[2018-04-25 11:55] #72 closed

[2018-04-25 13:36] tracykteal commented on #97
Addressed in #118

[2018-04-25 13:37] tracykteal commented on #95
Yes, the page looks good. Thanks @fmichonneau! Closing.

[2018-04-25 13:37] #95 closed

[2018-04-25 13:39] tracykteal commented on #59
This is addressed in #118. We should revisit how to structure this page once we have all the logos though.

[2018-04-25 14:39] maneesha commented on #101
We should also say something on the page to the effect of   "If your bio/image is not up or you want it updated please email instructorbio@carpentries.org"

[2018-04-25 20:27] ErinBecker opened #129 "Masterlist of redirects needed"
Redirects:

| Status | From | To |
|------- | ---- | ---- |
| 110cd18e    |  https://software-carpentry.org/CoC-enforcement/     |     https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html#enforcement-manual   |
| 7470393c | https://software-carpentry.org/CoC-reporting | https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html#reporting-guidelines |
|   | https:/

[2018-04-25 20:46] ErinBecker commented on #129
The list above covers all page level (not content level) clean up and reorganization needed for the SWC and DC websites to move shared content to either the Carpentries.org website or to the handbook.

[2018-04-25 21:02] ErinBecker commented on #129
@fmichonneau will be working on this list on Friday April 27th.

[2018-04-25 21:33] ErinBecker commented on #58
The EC meeting minutes are now linked on the Governance page (https://github.com/carpentries/executive-council-info/tree/master/minutes). They have also listed the roles of members with official roles (e.g. Secretary). So I think this can be closed.

[2018-04-25 21:33] #58 closed

[2018-04-25 21:36] ErinBecker commented on #56
@weaverbel - the rationale behind creating the community page was to provide a one-stop shop for people to get involved with various sub-parts of our community, without needing to know whether these were "subcommittees" or "task forces" or some other level of grouping.

Most of our groups do not "count" as official subcommittees according to SWC EC rules for subcommittee organization, yet still fu

[2018-04-25 21:41] ErinBecker commented on #2
Closing as this refers to an retired page and repo.

[2018-04-25 21:41] #2 closed

[2018-04-25 21:44] ErinBecker commented on #11
Closing. This has been resolved by changing the menu item to "Become an Instructor" and adding https://carpentries.org/become-instructor/

[2018-04-25 21:44] #11 closed

[2018-04-25 21:45] ErinBecker commented on #12
Closing this as the menu lists are much smaller now (no more than 5).

[2018-04-25 21:45] #12 closed

[2018-04-25 21:46] ErinBecker commented on #13
This content has been migrated to this repo (https://carpentries.org/audience/) and is now included as a link within the Learn page.

[2018-04-25 21:46] #13 closed

[2018-04-25 21:47] tracykteal opened #131 "Banner as image"
Rather than having the banner on the home page be a logo and a slogan, we can incorporate the slogan into the logo, and just used that updated logo so we can control text layout and font.

@lexnederbragt commented about the break point in the slogan text.

[2018-04-25 21:50] tracykteal opened #132 "What we do"
From @lexnederbragt in another repo

"
Under "What we do" on the front page it says

This will for new visitors be the first time they see "Software and Data Carpentry workshops" so I propose

"

[2018-04-25 21:51] ErinBecker commented on #47
Sorry @weaverbel, my issue was unclear. I wasn't suggesting that we remove the Instructors, Maintainers, etc menu items. Just that the titles of the "Our Team" page was confusing.

I propose:

Menu title: "Our Team"
Menu items:
"Our Staff" - change page title within that page  from "The Carpentries Team" to "The Carpentries Staff"
"Our Instructors" - change page title within that page from "Our Te

[2018-04-25 21:52] ErinBecker commented on #49
@jduckles - it looks like the blog is still wrapped into this repo (through the _posts directory). Is this correct? Are you still planning on migrating the blog to its own repo?

[2018-04-25 21:53] fmichonneau commented on #131
Some issues with using image-based approach are:

- lower accessibility
- not good for SEO
- will not work well on mobile devices

We may want to remove the "welcome to the carpentries" part to avoid the multi-paragraph slogan though.

[2018-04-25 21:56] ErinBecker commented on #53
@carpentries/carpentries-staff - if anyone else has an opinion about the structure of the [community](http://static.carpentries.org/community/) page and whether this should be broken down into smaller pages, please add your preference here.

[2018-04-25 21:58] ErinBecker commented on #57
Linking to [this blog post](https://software-carpentry.org/blog/2017/09/merger.html) would be a good start for this.

[2018-04-25 22:02] ErinBecker commented on #60
+1 It will be very difficult to keep this page up to date as the Maintainers list changes frequently. Maybe we could use the same code that we use to generate the instructors page to generate a Maintainers map?

[2018-04-25 22:02] ErinBecker commented on #61
See also https://github.com/carpentries/carpentries.org/issues/60

[2018-04-25 22:05] tracykteal opened #136 "Accessibility"
Carli Spina gave us some great feedback on accessibility. Her comments are here. I'll work to break these into individual issues, but wanted to capture them here.

1. [X] There doesn't seem to be any alt-text for the image in the masthead. It is decorative, so you couple probably use blank alt-text to indicate that, but without any, it could cause issues for some screen readers/assistive devices.

[2018-04-25 22:06] ErinBecker commented on #64
Closed as this has been resolved here: https://carpentries.org/community/

[2018-04-25 22:06] #64 closed

[2018-04-25 22:12] #81 closed

[2018-04-25 22:13] #82 closed

[2018-04-25 22:13] #97 closed

[2018-04-25 22:15] ErinBecker commented on #75
Closing this issue. It should be incorporated into the style guide. I've added a link to this issue to the style guide google doc with a comment.

[2018-04-25 22:15] #75 closed

[2018-04-25 22:19] ErinBecker commented on #105
The IRB letter that is linked right now is our original determination letter. Since then, we have submitted three amendments / modifications and received three additional IRB determination letters. Should we have all 8 of these files (original application, 3 modifications, 4 decision letters) linked on the assessment page?

[2018-04-25 23:27] jduckles commented on #49
Yep, it will get broken out. Won't really change anything as carpentries.org/blog will just get redirected to blog.carpentries.org when I have that all sorted.

[2018-04-25 23:28] tracykteal commented on #53
I also like having it on one page. I just had an example where I wanted to share all the pathways for getting involved, and it was really useful to point people to one page. I think having those internal links to subsections helps with some of the length. The subsections, also means that we could point to a particular subsection from another page if needed.

[2018-04-25 23:32] tracykteal commented on #131
Thanks, those are important points. Maybe just removing the 'Welcome to The Carpentries' will help resolve. We could potentially also address the font in the css.

[2018-04-25 23:40] weaverbel commented on #132
Fixed

[2018-04-25 23:40] #132 closed

[2018-04-25 23:42] weaverbel commented on #131
I have removed "Welcome to the Carpentries!" from site slogan.

[2018-04-26 00:29] kariljordan commented on #105
I'd say the most recent determination letter will suffice. If anyone wants more they can contact us. Do you think there are people out there who would be interested in checking out our application to see how to put one together for their own Carpentries research? If so, maybe the original application and the most recent determination letter with a note saying we've made amendments/modifications?

[2018-04-26 00:50] weaverbel commented on #47
Ok, I have amended the SWC page to say Our Instructors - we need to make a plan to migrate this content over too (but that is a separate issue). But all seems well now so I am closing this now.

[2018-04-26 00:52] weaverbel commented on #57
Have linked. That might be enough for now, so am closing.

[2018-04-26 00:52] #57 closed

[2018-04-26 01:04] #47 closed

[2018-04-26 01:05] weaverbel commented on #101
Do you mean add this to the SWC page @maneesha ?

[2018-04-26 02:52] weaverbel commented on #53
Ok, closing this thread.

[2018-04-26 02:52] #53 closed

[2018-04-26 13:25] fmichonneau commented on #131
@lexnederbragt Is removing the "welcome to the carpentries" sentence addressed your concern about the breakpoint. Did you notice something else?

[2018-04-26 16:42] lexnederbragt commented on #131
No, all good.

[2018-04-26 18:37] fmichonneau commented on #131
Closing. Follow up in https://github.com/carpentries/carpentries.org/pull/141

[2018-04-26 18:37] #131 closed

[2018-04-27 00:38] weaverbel commented on #112
I will close this as we will have a determination on the content after the two committees meet and approve formal motions.

[2018-04-27 00:38] #112 closed

[2018-04-27 05:45] weaverbel commented on #136
I have fixed item 6.

[2018-04-27 10:05] fmichonneau opened #144 "disqus is broken"
it is not getting loaded on blog posts

[2018-04-27 11:54] fmichonneau commented on #129
I completed the redirects for the SWC and DC websites listed in the tables.

As far as I could tell, there is no way to set up redirects in Sphinx (https://github.com/carpentries/handbook/issues/205) so I couldn't setup the redirects within the docs.

[2018-04-29 14:25] fmichonneau commented on #136
I updated this issue to make it a checklist. I addressed a few of these comments and fixed a couple of bugs in the template that were creating empty links that could confuse screen readers (see https://github.com/carpentries/carpentries.org/pull/145 for full details)

[2018-04-29 14:29] fmichonneau commented on #136
@katrinleinweber given all your work on fixing the "here" and "more" on our lessons, would you be willing to check the main carpentries.org website as well?

[2018-05-07 17:07] ErinBecker opened #147 "missing some regional mailing lists"
This page: https://carpentries.org/community/ includes some of the regional mailing lists, but is missing the mailing lists for Davis, CA and Bay-Area (SF, CA). @jduckles, can you please add these?

[2018-05-22 02:06] weaverbel opened #158 "Should we add Mailing Lists as a separate page under Connect?"
I had to search for a bit to find Mailing lists which appear on the community page (but a bit buried there).

I would like to see the list on its own page under the Connect tab.

What do others think?

We could explain Topic Box etc.

[2018-06-07 20:39] tracykteal opened #164 "add list of workshops"
We have the Data Carpentry, Software Carpentry and Library Carpentry workshops on the different websites. It would be good to also have a 'master' list of the workshops on the main site.

[2018-06-20 03:01] weaverbel commented on #144
Is this fixed @fmichonneau ? Seems to be working for me.

[2018-06-20 03:02] weaverbel commented on #109
Can we close this now? PR has been merged.

[2018-06-20 03:03] weaverbel commented on #105
@ErinBecker Can I close this issue?

[2018-06-20 03:04] weaverbel commented on #164
I agree but am not sure how to build this as it would require feeds from AMY. @jduckles @fmichonneau @maneesha do any of you know how to achieve this?

[2018-06-20 03:04] #158 closed

[2018-06-20 03:05] weaverbel commented on #147
Has this been done @jduckles ?If so, please close this issue.

[2018-06-20 03:06] weaverbel commented on #98
Anything more to do here @elizabethwilliams8 ? If not, this issue can be closed.

[2018-06-20 03:06] weaverbel commented on #74
I will make sure we always say 'Software Carpentry and Data Carpentry'.

[2018-06-20 03:06] #74 closed

[2018-06-20 03:09] #56 closed

[2018-06-20 03:14] weaverbel commented on #63
I have asked @ErinBecker for some.

[2018-06-20 03:14] #63 closed

[2018-06-20 03:15] weaverbel commented on #68
@libcce Banner one is short to try to take up little real estate as possible. Footer one is longer because we have more room. I will fix the 'What we do' one to match.

[2018-06-20 03:15] #68 closed

[2018-06-20 11:53] maneesha commented on #144
I see it on some but not all posts.  I don't see disqus on my [most recent post about programmatic assessment](https://carpentries.org/blog/2018/06/programmatic-assessment/) but I see it on several prior posts.

[2018-06-20 11:55] maneesha commented on #164
I don't know how to do this.  I imagine the method would be similar to how it's done on the SWC and DC websites, just without filtering for workshop type.

I don't know how much this matters but I believe that on the SWC website is automatically updates.  I believe @tracykteal  is working on making that happen with DC as well (DC website sometimes requires manual updates)

[2018-06-20 11:58] libcce commented on #68
@weaverbel @maneesha @tracykteal wonder if this is an opportunity to update the language to add "researchers and librarians".

[2018-06-20 13:32] fmichonneau commented on #144
yes, it's working OK now and can be closed.
@maneesha for now, `comments: true` needs to be added to the YAML header to get the comments. It's on my TODO list to enable it by default.

[2018-06-20 13:32] #144 closed

[2018-06-20 13:46] rgaiacs opened #173 "Improve code samples style"
# Current

![screenshot from 2018-06-20 14-43-48](https://user-images.githubusercontent.com/1506457/41662201-7b94afda-7498-11e8-8719-2cdf8ad2c0cd.png)

The box with the code is white but the text has another background.

# Recommend

![screenshot from 2018-06-20 14-44-06](https://user-images.githubusercontent.com/1506457/41662214-83243770-7498-11e8-96f5-25b437eeabbe.png)

The box with the code is

[2018-06-20 20:19] #98 closed

[2018-06-21 01:08] jduckles commented on #147
Can TopicBox be the canonical location for these? Otherwise we'll be perpetually out of sync.

[2018-06-21 01:09] jduckles commented on #164
I've laid the ground work for this over at https://github.com/carpentries/amy-feeds

[2018-06-21 01:52] #173 closed

[2018-06-21 02:42] weaverbel commented on #68
I would be -1 on this at the moment @libcce - I think we should wait for the outcomes of the merger talks. We can put our own mission on the Libbrary Carpentry site. @maneesha @tracykteal

[2018-06-21 03:04] weaverbel commented on #55
Have we got any further with this @jduckles ? Should we use Google Analytics for now?

[2018-06-21 04:38] jduckles commented on #55
We get web stats from CloudFront and we're keeping logs. I'd rather not join the google tracking verse and we never looked at the Analytics other than summary numbers. We're getting those in cloudfront now, and we have all the raw logs if we want to process them in some other way.

[2018-06-21 04:38] #55 closed

[2018-06-21 04:53] jduckles commented on #49
Not going to happen soon, closing and adding to long-term tech plans.

[2018-06-21 04:53] #49 closed

[2018-06-21 04:55] jduckles commented on #101
Data feeds are in place for this and part of the website repo in `amy/*.json` as detailed in the `README.md` here: https://github.com/carpentries/amy-feeds

[2018-06-21 05:21] weaverbel commented on #101
So are you taking the lead on this @jduckles ? Or is it @maneesha? And where does this fit in with the privacy changes? Are we only getting feeds of data from people who have given explicit permissions? I am assuming yes?

[2018-06-21 06:39] jduckles commented on #101
The data automation part is done in the above repo. Got that working today. The next step should be fairly easy, but will have to be done either 1 or 3 times depending on if we want a map of SWC,DC,ALL instructors. I've made data feeds for each. I'm inclined to go with ALL only. Feeds for the instructor profiles is a separate issue #80

[2018-06-21 06:41] jduckles commented on #80
We've asked instructors to explicitly opt-in to this page. So-far 360 have done so. I'll need to build some new Jekyll templates for this and add some data feeds from AMY to the `amy-feeds` repo.

[2018-06-21 06:43] jduckles commented on #66
Closing as this is captured in #136

[2018-06-21 06:43] #66 closed

[2018-06-21 06:44] jduckles commented on #59
Closing as it was addressed.

[2018-06-21 06:44] #59 closed

[2018-06-21 06:45] jduckles commented on #51
Closing in favor of #80

[2018-06-21 06:45] #51 closed

[2018-06-21 06:46] jduckles commented on #109
Closing, PR was merged.

[2018-06-21 06:46] #109 closed

[2018-06-21 06:48] jduckles commented on #147
To be clear I'm proposing we remove the table of mailing lists at the bottom of the above linked page (leaving mailing list links in the various communities) and specifically mention for local-* connections to browse TopicBox.

[2018-06-21 11:58] libcce commented on #68
@weaverbel it doesn't hurt to ask these questions in preparation @maneesha @tracykteal

[2018-06-24 22:15] weaverbel commented on #147
That has now been done so I am closing this.

[2018-06-24 22:15] #147 closed

[2018-06-30 01:26] ErinBecker opened #178 "add github link to carpentries-es"
This should be added on the join us page. https://carpentries.org/community/#carpentries-en-latinoam%C3%A9rica

[2018-06-30 01:37] ErinBecker opened #179 "add info about workshop coordinators?"
A couple of people at CarpentryConnect Davis asked me about how to get in touch with their regional workshop coordinator (in this case for the UK). I realized that we don't have this information on the website and I also don't know in what cases it would be useful for people to contact their regional coordinators rather than central staff. I'm putting this issue in just to start a conversation abo

[2018-06-30 18:16] sheraaron commented on #179
@ErinBecker this is great! It would be good to have this on the website. If they are looking to organize workshops they would go to their regional workshop coordinator. I must say, if they reach out to staff, @maneesha  and I will send the request to the Regional coordinator and ask them to respond so that they can build rapport.

[2018-07-02 17:30] maneesha commented on #179
Thanks @ErinBecker
You are definitely right, that a lot of people don't know the workshop admins.
This month I am having individual meetings with all the workshop admins and one major point of discussion will be managing contacts and communication systems.  We'll look into how to update the website based on how things go with these conversations.

[2018-07-03 00:38] jduckles commented on #179
I like the idea of this being a data-driven page. Could we "award" in AMY a "workshop coordinator" badge? Then their profile data can be accessible on a workshop admins page with the coordinators arranged by the country of their airport record in AMY. Look for a new issue with a proposal on how to do this for [Instructors, Trainers, Maintainers, Mentors, Mentees, Workshop Coordinators, Workshop Or

[2018-07-03 01:33] jduckles opened #182 "Generating information pages for community directory"
# Overview
We want to be able to generate from AMY data, periodically (daily/hourly) updated HTML for pages listing each of:

**Immediate priorities:**
* Instructors (by badge: SWC, DC, LC etc)
* Trainers
* Maintainers
* Mentors
* Mentees
* Workshop Coordinators (arranged by country)
* Workshop Organizers (maybe not)

**potential future contact data views:**
* Executive Council Members
* Executive

[2018-07-04 00:05] jduckles commented on #179
FYI: The automated segments I mentioned above are being tracked, worked on over at #182.

[2018-07-09 15:30] ErinBecker commented on #105
Please leave open for now @weaverbel. I'll add this to my list to take care of and will close when I have.

[2018-08-01 04:43] weaverbel commented on #182
I would question why we would want to list mentees @jduckles - do you think that is desirable? I think that information should be private but maybe I am wrong. What do you think @kariljordan ?

I would like to see Curriculum Advisory Committee members listed though.

[2018-08-01 04:44] weaverbel commented on #178
This is now listed so I am closing this

[2018-08-01 04:44] #178 closed

[2018-08-01 05:17] weaverbel commented on #101
I think we can close this now we have the new instructor page.

[2018-08-01 05:17] #101 closed

[2018-08-01 05:43] weaverbel commented on #179
Now this is being worked on in issue #182 I am closing this one.

[2018-08-01 05:43] #179 closed

[2018-08-01 05:56] weaverbel commented on #129
I have created a Community Service Awards page but we need to get this approved by the new Executive Council. I will contact them for review and also will not link this page from any menu until they have approved it. https://github.com/carpentries/carpentries.org/blob/gh-pages/pages/community-service-awards.md

[2018-08-02 01:50] jduckles commented on #182
This is now complete and implemented for all the badged segments of the Carpentries. When bylaws come out and go into effect we can also think about adorning profiles with "Voting Member" bling of some kind. Closing as this is all in place and working now.

[2018-08-02 01:50] #182 closed

[2018-08-08 06:11] lexnederbragt opened #197 "FAQ on what is a SWC/DC workshop"
https://info.carpentries.org/article/67-can-i-call-my-workshop-a-swc-dc-workshop seems tailored toward new instructors, but I suspect many established or non-instructors will also reach out to it. I did because I wanted to find the current rules for what a branded SWC workshop should be teaching.

Suggestions:

* rewrite the start
* include rules for link to them
* include rules for DC workshop

[2018-08-08 06:13] lexnederbragt opened #198 "FAQ"
Where does the FAQ live on GitHub? Or I guess, https://info.carpentries.org? Could a button 'improve this page' be added so it become much easier for the community to help improve the text?

[2018-08-08 07:30] rgaiacs commented on #198
I think it is https://github.com/carpentries/handbook.

[2018-08-08 07:34] rgaiacs opened #199 "docs.carpentries.org vs info.carpentries.org"
I think that the content of info.carpentries.org should live inside docs.carpentries.org. Have two places is confusing and increase the maintenance burn.

@lexnederbragt What do you think?

[2018-08-08 08:04] weaverbel commented on #198
Hi @lexnederbragt and @rgaiacs
I have a current task of migrating all the FAQ material from HelpScout into either the handbook or the website. We will then retire the HelpScout info altogether, as we don't want to manage so many platforms and as Lex has said, there is no easy path to correct or update older or inaccurate info. For now, please send any updates to me and I will fix them.

I realise

[2018-08-08 08:06] weaverbel commented on #199
This info is going to be migrated into either carpentries.org or the handbook. We will no longer use info.carpentries.org. I will close this issue now as we have dealth with this in the other issue #198 .

[2018-08-08 08:06] #199 closed

[2018-08-08 08:07] weaverbel commented on #197
The whole FAQ needs revisiting post-merger - I will try to take a look at that one tomorrow - it is end of day here. Have you got anything to suggest that should be listed?

[2018-08-08 11:13] lexnederbragt commented on #198
Thanks, closing as "on someone's todo list waiting for priority"

[2018-08-08 11:13] #198 closed

[2018-08-09 05:28] weaverbel commented on #197
Thanks @lexnederbragt

I have created a sheet to list all the FAQs and where I think they should live: https://docs.google.com/spreadsheets/d/1ByElpgFJx9DreFXH2sFD2mzbhHN_vOHJc9LCzmnb1Wo/edit#gid=0

We will gradually start to move stuff over and remove links until we can shut down the FAQ altogether. We really only want stuff on the website or the handbook.

[2018-08-09 15:45] ErinBecker commented on #197
Great list @weaverbel, thanks for putting this together! Let me know if you'd like me to look over the list in more detail and offer any suggestions (as part of the Comm's team). Also pinging @libcce in case he has any feedback. I'm really looking forward to seeing all of this information come together.

[2018-08-14 10:46] lexnederbragt commented on #197
Thanks, @weaverbel. I had a look at the list and I feel this will work fine as suggested. Shall I close this issue, then?

[2018-08-14 10:49] weaverbel commented on #197
Sure. We are actively working on sorting this now. Thanks.

On Tue, 14 Aug. 2018, 8:46 pm Lex Nederbragt, <notifications@github.com>
wrote:

[2018-08-20 21:08] #164 closed

[2018-08-27 21:27] jduckles opened #208 "Add summary stats to main page"
The Community Development team is going to work to add some call-out numbers to the website that help website visitors see our impact.

Example:

![image](https://user-images.githubusercontent.com/119403/44687065-4859c000-aaa4-11e8-9e7d-ae3cd82f727a.png)

![image](https://user-images.githubusercontent.com/119403/44687087-590a3600-aaa4-11e8-9d90-a92fb7d1e354.png)

* [ ] -  Add layout elements to pa

[2018-08-27 21:29] jduckles opened #209 "Move logo to upper left"

[2018-08-27 21:30] jduckles opened #210 "Donate text to red"
Many websites we were looking at on community dev have callouts for Donations in Red text. We're going to try it.

[2018-08-27 21:30] jduckles opened #211 "Mailing list subscriptions on main page"

[2018-08-28 01:54] weaverbel commented on #210
Where does it need to be changed?

[2018-08-28 20:41] weaverbel commented on #211
Can you provide more detail?

[2018-08-29 04:46] #211 closed

[2018-08-29 15:05] kariljordan commented on #208
@maneesha here is a little background. The community development team has been looking at websites from other community organizations that we like and pulling out "low hanging fruit" that we can apply to our website to make it more welcoming. We'd like to add some call out numbers/metrics, but we want to make sure that:

1.  We can pull them directly from AMY or another data source
2.  The metrics

[2018-08-29 17:39] maneesha commented on #208
I'm really glad to see this conversation happening.  I'm excited to look at ways we can share data about our impact.

I have a few questions looking at your examples so I can better understand your vision and motivation for doing this.

Would you want the metrics to be the same each month?  (For example, every month we show the number of workshops)  OR something different each month (like Septembe

[2018-08-29 21:56] jduckles commented on #208
One if from http://mtu.edu the other from https://www.unitedway.org these were provided by @kariljordan  as an example to the Community Dev team. I think we want to have these numbers fed to some kind of query that is changing weekly/monthly.

So maybe things like:
* # of workshops in the trailing year
* # of countries hosting workshops in trailing year
* # of organizations running workshops in so

[2018-08-30 00:09] maneesha commented on #208
Thanks @jduckles
All of those are fairly easy to gather.
By "trailing year" I assume you mean last 12 calendar months?   (so it changes every month, rather than calendar year, meaning we'd show data for 2017 all year in 2018)

We should be consistent with what time period each metric reflects - trailing year or some other trailing time period.

I also like the idea  of having external metrics that

[2018-08-30 17:32] kariljordan commented on #208
The way it's currently set up, I would have to manually change the "data soundbites" using the learner data from SurveyMonkey. I have no problem doing this, but we talked about using data from AMY as it would be automatically fed to the website.

The purpose of providing these figures on the website is to **highlight The Carpentries major outputs**. In our Community Development Team [meeting notes

[2018-09-04 00:49] jduckles commented on #210
I've looked into this and the way the menus are driven by a yaml document is going to complicate this.

[2018-09-04 00:51] jduckles commented on #101
I've ported the SWC map over to https://carpentries.org/instructors-map/ using a json feed of all instructors from https://github.com/carpentries/amy-feeds

[2018-09-05 15:42] kariljordan commented on #208
Checking in on this issue. I'd like for us to set a deadline for having this issue closed. @maneesha, did you have more thoughts on what numbers/figures to use? Can we have something up in 2 weeks? If that's reasonable, I'll add a few tasks in Asana to map this out (similar to Jonah's checklist).

[2018-09-13 14:17] rgaiacs opened #223 "Anelda van der Walt's keynote video recording is missing in the report blog post"
https://carpentries.org/blog/2018/09/carpentrycon-call/ has links to all the other keynote video recording except for Anelda's one. The video is available on the YouTube playlist, https://www.youtube.com/playlist?list=PLXLapl_LKb4csrVg1nxBEG5H6B7PmN-rx. @weaverbel or @ErinBecker, could you fix it as authors of the blog post. Thanks very much.

[2018-09-13 19:34] weaverbel commented on #223
Yes, this was a very late addition - I will add it @rgaiacs

[2018-09-13 19:37] weaverbel commented on #223
Added

[2018-09-13 19:37] #223 closed

[2018-09-23 16:19] darencard opened #229 "Simplistic carpentries website for local teaching organizations"
This is less of an issue and more of a request for some feedback and guidance. I'm involved with a group of instructors at University of Texas, Arlington, where we've run half a dozen workshops on campus over the last several years. Our university recently signed on as a member organization and as a group we're interested in putting together a website for our local organization. In looking at ways

[2018-09-23 22:51] jduckles commented on #229
@darencard This is a great case for using GitHub Pages, just like we do in The Carpentries, you won't even need server space on your university servers. You can host directly at a GitHub Pages url (https://<yourorganizationname>.github.io/), you can also point the university domain to GitHub pages if that is allowed by your university policies.

Some examples of other community members doing this

[2018-09-25 19:41] darencard commented on #229
Thanks @jduckles!

[2018-09-25 19:41] #229 closed

[2018-09-29 03:20] ErinBecker opened #238 "newsletter page not looking so good"
I think there's a bug in the newsletter page somewhere. the footer is not the right size. Also, the privacy policy link is displayed as text rather than a hyperlink. And there is no link to previous issues of the newsletter. I remember it looking really snazzy before, so something must have gotten off somewhere:

![screen shot 2018-09-28 at 8 20 10 pm](https://user-images.githubusercontent.com/191

[2018-09-29 05:47] weaverbel commented on #238
The page has not been changed at all - it was last updated months ago when Francois changed it. Not sure what is going on but the list of newsletters has disappeared from the page too.

[2018-09-29 05:56] weaverbel commented on #238
I don't think the problem can be in the newsletter page (which has not changed) but in one of the forms that populates the page: probably this one: `mailchimp_signup_form.html` which was changed within the last 2 days by @jduckles . Jonah, can you please have a look and see if there is something in this form that might have broken the page? The other bit of the page is not loading - the list of ol

[2018-10-01 18:35] maneesha opened #243 "Make community calendar adjust for timezones"
Right now the community calendar on our website always shows events in US Eastern time.  There is a way to have a calendar detect the user timezone and adjust accordingly.  See the script at the top of this page:  https://github.com/carpentries/handbook/blob/master/topic_folders/communications/zoom_rooms.md

I'm not sure with the way carpentries.org website is built, if we can insert this script a

[2018-10-01 19:37] fmichonneau commented on #243
if we don't use the feature anywhere else on the website, I think it's reasonable to include the script in the md file for this page, just like you did for the handbook. From what I understand, it's better to put it at the end of the file rather than at the top.

[2018-10-01 22:13] weaverbel commented on #238
The newsletter page is still broken, so I am reopening this issue.

[2018-10-01 22:14] weaverbel commented on #238
In addition to the wonky display, the past issues of newsletters part of the page is not loading.

[2018-10-02 00:16] jduckles commented on #238
When testing locally it looks fine:
<img width="871" alt="image" src="https://user-images.githubusercontent.com/119403/46322424-49eb4a80-c645-11e8-8e11-726bea64d5f1.png">

I'll revert to last known working state and we can leave this issue open until someone has time to figure out what is going wrong.

[2018-10-02 02:17] weaverbel opened #245 "'What is a workshop?' web page"
Opening comments on this page - please record issues here or do a PR against the file `workshops.md` in the `pages` folder.

[2018-10-02 13:08] fmichonneau commented on #238
looks OK now? https://static.carpentries.org/newsletter/

[2018-10-02 13:08] #238 closed

[2018-10-02 18:30] kariljordan commented on #245
I went through the **what is a workshop** page and it's very clear what the benefits are. I have no pressing changes in mind.

[2018-10-02 18:34] kariljordan opened #247 "One column format for main page"
One of my favorite web services is **[Splash That](https://splashthat.com)**. I like the way their homepages are built in single column format and they look really clean. Is there a way for our homepage (the first page you see when you go to [carpentries.org](carpentries.org) to look like this?

[Here](https://splashthat.com/event-management) is another example page that looks very clean.

[2018-10-03 02:51] weaverbel commented on #208
Can this be closed now we have the volunteer page with numbers on it? I know those figures are not  updated in real time.

[2018-10-03 02:52] weaverbel commented on #247
I think those pages do look nice @kariljordan but I think the comms team might feel a little busy for a while so this may be a low priority.

[2018-10-03 03:55] jduckles commented on #208
Yes.

[2018-10-03 03:55] #208 closed

[2018-10-03 13:30] kariljordan commented on #247
That is fine. I added this in response to your request for staff to look at the carpentries.org website and add issues to the repo.

[2018-10-03 20:34] weaverbel commented on #247
Definitely worth adding as an issue but I think it would take quite a bit of work as there are a lot of fiddly bits that make up the hone page. Thanks for taking the time to look things over though.

[2018-10-16 01:53] drammock opened #261 "Members page lists U. Oklahoma twice"
...once under "Platinum" and once under "Gold".  Happy to submit a PR if someone tells me which one is correct.

https://carpentries.org/members/

[2018-10-22 14:45] maneesha commented on #261
@elizabethwilliams8   Could you let us know how they should be listed so we can make the change?

[2018-10-22 15:52] elizabethwilliams8 commented on #261
thank you for catching this! They have moved up to Platinum this year. I will fix this ASAP.

[2018-10-22 15:52] #261 closed

[2018-10-23 00:58] maneesha commented on #243
Fix attempted with https://github.com/carpentries/carpentries.org/pull/266

[2018-10-23 00:58] maneesha commented on #210
@jduckles  do you want to pursue this?

[2018-10-23 00:58] maneesha commented on #209
@jduckles  Can you clarify what you want to do here?

[2018-10-23 01:00] maneesha commented on #105
@ErinBecker  are you still working on this?

[2018-10-23 15:59] #105 closed

[2018-11-29 03:58] mtreg commented on #245
I was just visiting the page and noticed the text describing Library Carpentry workshops is formatted as a code block rather than rendered html, as outlined in Blue in the attached image - I imagine this isn't the intended appearance.

Hope this helps - thanks to Carpentries staff and other contributors for their great work!

![image](https://user-images.githubusercontent.com/8225986/49198382-d292

[2018-11-29 18:01] fmichonneau commented on #245
thanks for catching this @mtreg It should be fixed shortly.

[2018-12-03 05:06] ErinBecker opened #311 "Community calendar not showing up"
![screen shot 2018-12-02 at 9 04 57 pm](https://user-images.githubusercontent.com/19176319/49354115-0d07f800-f676-11e8-8710-95738cd7b840.png)

[2018-12-03 05:41] libcce commented on #311
@ErinBecker This might be the same issue I had with one of the LC blog posts. The embedded tweets were rendering incorrectly. Turns out I had to change the file format from .md to .html and update the formatting from md to html.

[2018-12-03 09:44] rgaiacs commented on #311
@ErinBecker If you look at the web developer console you will find

[code]

This is GitHub is optimising the final HTML by removing line breaks so

[code]

is converted into

[code]

JavaScript uses `;` to separate instructions so if you add it at the end of the lines on the Markdown file you will have the calendar back. See https://github.com/carpentries/carpentries.org/pull/312.

[2018-12-03 14:16] #311 closed

[2018-12-03 17:48] ErinBecker commented on #311
Thanks @rgaiacs and @libcce for the amazingly fast help!!

[2018-12-16 15:28] maneesha opened #324 "Assessment page - dead link for learner assessment data"
The [assessment page](https://carpentries.org/assessment/)
has dead links for

"the version of the surveys that were in use at time of analysis."
 "Data for Post-Workshop Survey Report (2018-January)"

@kariljordan  What should these link to?

[2018-12-18 19:20] #324 closed

[2018-12-20 15:01] maneesha opened #334 "Consistency in how workshops are listed across 4 Carpentries sites"
This affects all our websites:  carpentries.org and the LC, DC, and SWC sites.  Just putting issue here for now.

- Workshop list on DC site builds from AMY, is on [front page](https://datacarpentry.org/) and lists upcoming workshops only.  Clicking through the top menu takes you to [past workshops page](https://datacarpentry.org/workshops-past/)  which is [currently empty](https://github.com/data

[2018-12-20 15:40] libcce commented on #334
I'd like to see LC's workshop page in alignment w/ The Carpentries. Only reason why it is manually curated is that we list LC-based/inspired workshops as well. If there is a way to log these workshops separately in AMY and list them w/ the standard workshops, that would be great!

[2019-01-11 16:41] maneesha opened #344 "Ruby Sass is deprecated"
When I run `bundle install` on Ubuntu 18.04 I get this message.  I don't know what this means.  Since it's being deprecated soon I wanted to see if this is something we need to be concerned about.
Tagging people who may know more than me:
@fmichonneau @jduckles @charlesreid1

[code]

[2019-01-11 16:45] maneesha opened #345 "how long should it take to build site locally?"
The readme for this site says

When I just built it it was `done in 7.118 seconds.`

Was my experience a fluke? Should we still note that this takes a few minutes to build?

EDIT - I've done this a few times now, and it's never taken more than 10 seconds.

[2019-01-27 23:52] fmichonneau commented on #344
My understanding is that it will sort itself out. Future releases of jekyll on GitHub will  remove this dependency and switch to the Ruby gem mentioned in the message.

[2019-01-27 23:52] #344 closed

[2019-01-28 20:59] #209 closed

[2019-01-29 15:21] maneesha commented on #345
fixed with 74246cca2a

[2019-01-29 15:21] #345 closed

[2019-01-29 15:22] maneesha opened #359 "Instructor map lists instructors by initials only"
On this page:
https://carpentries.org/instructors-map/

Is this intentional? Do we want to list names of people who have opted in?

[2019-01-29 15:22] #243 closed

[2019-01-29 16:40] fmichonneau commented on #359
yes, it's intentional as a way to protect our instructors' privacy. Making opt-in to have the full name displayed seems reasonable. That would however require changing the form in AMY to make sure people expressly agree to have their full names displayed on the map.

[2019-02-01 15:16] fmichonneau opened #368 "Include list of past workshops?"
It looks like we don't have a list of past workshops on the main carpentries.org website. Is it something we should add? Personally, I think it'd be a good idea.

[2019-02-01 15:48] libcce commented on #368
Agree! People use the Library Carpentry upcoming workshops list to see what has been taught, if something has been taught near them, etc. https://librarycarpentry.org/upcoming_workshops/.

[2019-02-01 20:11] sheraaron commented on #368
Yes, I would like for the main carpentries.org website to be the central place to find anything related to The Carpentries.

[2019-02-01 20:11] sheraaron commented on #368
as it relates to the workshops 😄

[2019-02-02 00:13] tracykteal commented on #368
Yes, this is a good idea! I like how SWC and DC do it with a dedicated page of past workshops

https://software-carpentry.org/workshops/past/
https://datacarpentry.org/workshops-past/

SWC has the map too. If we wanted to we could include a map.

[2019-02-06 10:52] rgaiacs opened #370 "Include DOI to "The Carpentries 2018 Annual Report" blog post"
https://carpentries.org/blog/2018/10/annual-report/ should have a link to https://zenodo.org/record/1465064#.XFq8Gbrng7M for people that want to cite us.

@serahrono Can you do the change?

[2019-02-06 17:23] ErinBecker commented on #370
Thanks @rgaiacs for the suggestion. @maneesha manages the websites, so I'll assign this to her.

[2019-02-08 19:50] #370 closed

[2019-02-08 19:50] maneesha commented on #359
OK, that's fine -closing this.

[2019-02-08 19:50] #359 closed

[2019-02-10 22:25] maneesha opened #372 "Link newsletter on staff page?"
At the bottom of our staff page we have this line:

This seems out of place.  Any objections to removing it?

[2019-02-10 22:32] libcce commented on #372
No objections, I think you should remove it.

[2019-02-11 18:56] maneesha opened #374 "Error in retrieving instructor orcid"
On the [instructors page](https://github.com/carpentries/carpentries.org/blob/gh-pages/pages/instructors.html) this line:

[code]

seems to evaluate to  `True` for `NaN` meaning all instructors who don't have an orcid on file end up with a link to `https://orcid.org/nan`.

Not sure how to fix this.  @fmichonneau ?

[2019-02-11 19:08] #372 closed

[2019-02-11 19:10] maneesha commented on #210
@elizabethwilliams8  This may be in your realm now... do you think we should pursue this?

[2019-02-11 19:11] maneesha commented on #129
Are there any redirects that still need fixing?
@ErinBecker @fmichonneau

[2019-02-11 19:32] elizabethwilliams8 commented on #210
I think @tracykteal is planning to look into a re-design of the website anyway, and this should be considered in that context. And I don't think it is a priority. I agree with making the donate button eye-catching, but red would be a bit jarring on our website, I think.

[2019-02-11 19:39] fmichonneau commented on #129
As far as I know, my comment from April 27 and Erin's from June 21 are still valid.

[2019-02-11 22:23] tracykteal commented on #210
Yes, I think this goes into a general idea about a donation campaign. So, we can plan to do an update as a part of that project. I'll make a note to keep track. But I think we can close this issue.

[2019-02-11 22:47] #210 closed

[2019-02-18 13:52] rgaiacs opened #382 "Use three columns layout?"
At https://carpentries.org/workshops/ we have

![screenshot from 2019-02-18 13-52-02](https://user-images.githubusercontent.com/1506457/52955395-74376d80-3384-11e9-98e6-604849d43c8e.png)

Can we use three columns instead of two?

[2019-02-18 15:02] #382 closed

[2019-02-18 15:02] fmichonneau commented on #382
thanks for the suggestion @rgaiacs

[2019-02-19 16:51] fmichonneau opened #383 "update AMY URL"
We need to replace AMY's URL everywhere to use its new carpentries.org domain.

[2019-02-20 19:51] maneesha commented on #50
@jduckles   I know you're not actively involved in any of this any more... but I wanted to see what you may have been thinking of here.  Where did you envision the SWC & DC (and now LC too) logos appearing?

[2019-02-20 19:53] maneesha commented on #247
@kariljordan  Checking to see what you think since you opened this issue.  Do you still want to revisit this to consider what we can do?

[2019-02-20 19:55] maneesha commented on #245
Closing - appears to be resolved.

[2019-02-20 19:55] #245 closed

[2019-02-20 20:35] jduckles commented on #50
Somewhere that indicates to people that there is a connection between SWC/DC/LC and The Carpentries. Doesn't matter where, but I thought it should be on the main page somewhere.

[2019-02-20 22:09] maneesha commented on #50
Got it.  Makes sense to have them somewhere fairly prominent.
I don't know enough about design to figure out where this would look good or to make it happen.  Any suggestions about who might be able to help? @tracykteal @ErinBecker @fmichonneau @serahrono

[2019-02-20 22:13] maneesha commented on #67
I don't know enough about design to know whether this is intentional or not. Any suggestions about who might be able to help? @tracykteal @ErinBecker @fmichonneau @serahrono

 It does not make the mobile screen display look bad.  I'll close this unless someone feels strongly it needs to be fixed.

[2019-02-20 23:01] maneesha commented on #383
Hi @fmichonneau I am trying this by doing
`grep -rl  'amy.software-carpentry.org' | xargs sed -i 's,amy.software-carpentry.org,amy.carpentries.org,g'`
but get the error
 `xargs: unmatched single quote; by default quotes are special to xargs unless you use the -0 option`

Can you help me understand why this is happening?

[2019-02-21 03:32] kariljordan commented on #247
I think we can close this for now. One of these days we can put focused attention on website improvements as a whole.

[2019-02-21 10:23] rgaiacs commented on #67
This is a bug. You want to replace the

[code]

with

[code]

You need to double check that the image is scale down.

[2019-02-21 11:32] maneesha commented on #67
Thanks @rgaiacs ! Would you want to put in a PR?

[2019-02-21 11:33] #247 closed

[2019-02-21 11:34] rgaiacs commented on #67
I would prefer defer to @serahrono or @fmichonneau.

[2019-02-21 13:04] fmichonneau commented on #67
I had looked into it when we first set up the website. It's how the template is designed to make it responsive, and changing it requires a lot of modifications. For instance, if we try to squeeze the logo and the text on small screens, then we also need to modify the height of the black and white image.

On small screens, "The Carpentries" (as text and not a logo) appears on the top nav bar making

[2019-02-21 14:05] #67 closed

[2019-02-21 14:16] maneesha commented on #129
Checking off "Retire the “Help Wanted” page (https://software-carpentry.org/join/help/)" as it will be addressed in the [SWC repo](https://github.com/swcarpentry/website/issues/1070)

[2019-02-21 14:31] maneesha opened #384 "Update reading material pages"
We have these two pages on the SWC and DC websites:
* https://software-carpentry.org/reading/
* https://datacarpentry.org/media/

In [another issue](https://github.com/carpentries/carpentries.org/issues/129) it is suggested that we redirect those to a page on The Carpentries website and have content organized there.  These two pages don't seem to be maintained though - content seems old and incomp

[2019-02-21 14:32] maneesha commented on #129
Creating a [new issue](https://github.com/carpentries/carpentries.org/issues/384) for

to allow for more discussion there.  Checking them off here,

[2019-02-21 14:36] maneesha commented on #129
@fmichonneau Could we make https://software-carpentry.org/scf/awards/ redirect to https://carpentries.org/awards/ ?
(Or if you can show me how redirects work I can do this myself)

[2019-02-21 21:27] maneesha commented on #374
This is still returning `https://orcid.org/nan`

[2019-02-21 21:32] maneesha opened #385 "orcid icon is out of alignment and just a dot"
See for example
![image](https://user-images.githubusercontent.com/829690/53203081-2a55be00-35f6-11e9-8eee-47e494674646.png)

Looks like this happened when the style was changed here:  https://github.com/carpentries/carpentries.org/commit/7c0558b1252eeeef8899a0f0b0e7ba28f0098a11

[2019-02-22 00:46] maneesha opened #386 "broken link to CoC members"
Link from here (https://carpentries.org/community/#code-of-conduct-committee)
to current members is broken.

[2019-02-22 00:47] maneesha opened #387 "Note African Task Force is disbanded"
It is still linked to here https://carpentries.org/community/#african-task-force

[2019-02-22 00:49] maneesha opened #388 "update Get Involved page to reflect current activity"
This page links to inactive groups.  Needs to be reviewed and updated.
https://carpentries.org/community/

[2019-02-22 13:03] fmichonneau commented on #385
is this in your branch by chance?

[2019-02-22 13:04] fmichonneau commented on #374
is this in your branch by chance?

[2019-02-22 13:24] maneesha commented on #385
Yes... I hadn't refreshed my view on the live site :-(

[2019-02-22 13:24] #385 closed

[2019-02-22 13:24] maneesha commented on #374
Yes... I hadn't refreshed my view on the live site :-(

[2019-02-22 13:24] #374 closed

[2019-02-22 14:49] fmichonneau commented on #374
no problem!

[2019-02-22 17:03] maneesha opened #389 "update all references to African Task Force"
(as it is not currently active)

[2019-02-22 19:59] tracykteal commented on #384
Definitely should redirect these pages to something we're going to keep current. These two pages serve different purposes though. On the Carpentries site, we could have a 'News' page that we keep up to date. Reference type reading would be different, so we'd have to think if we'd want to do that and where it might go. Right now that sort of thing is more incorporated into lesson notes.

[2019-02-27 16:00] maneesha opened #390 "stats on volunteer page need to be updated"
See
https://carpentries.org/volunteer/

[2019-03-04 09:23] fmichonneau commented on #50
see #393

[2019-03-04 10:34] fmichonneau commented on #390
we can get these stats dynamically from the existing feeds (except for number of learners but it'd be easy to add it). See how it's set up here: https://github.com/swcarpentry/website/blob/gh-pages/pages/workshops_past.html#L12-L23

[2019-03-04 19:43] maneesha opened #396 "display flag only if country"
Each of these files listed below creates a page using the person's profile information.  Most attributes are wrapped in a conditional (ie, 'if person.twitter' , 'if person.github', etc.) .  Country should also be wrapped in a conditional.  Otherwise we see a broken flag image:

![image](https://user-images.githubusercontent.com/829690/53758428-bc2db880-3e8b-11e9-99d7-90e31a493989.png)

So we shoul

[2019-03-05 07:52] fmichonneau commented on #396
It'd be best to use a template (i.e., a file in _includes) for this type of profile so we can re-use the same code across the entire website.

[2019-03-08 14:44] #396 closed

[2019-03-08 14:45] fmichonneau commented on #396
I fixed the issue and did a quick refactor, so we re-use the code from `_includes/community_profiles.md` across all pages.

[2019-03-11 19:07] maneesha commented on #389
Closing - duplicate of #387

[2019-03-11 19:07] #389 closed

[2019-03-11 19:09] maneesha commented on #386
fixed with  5b79ed7

[2019-03-11 19:09] #386 closed

[2019-03-12 13:44] maneesha commented on #383
Looks like it just didn't like something in the `_site` directory.  Not sure why, but this worked:
[code]

Fixed with 73b95d4

[2019-03-12 13:44] #383 closed

[2019-03-12 13:57] #50 closed

[2019-03-12 19:35] maneesha opened #406 "update data files section on readme"
This includes invalid `make` commands.

This also should include a link to the [data feeds wiki](https://github.com/carpentries/systems/wiki/data-feeds) for more information.

[2019-03-13 06:49] fmichonneau commented on #406
This entire section does not apply for this site as it set up differently from the SWC website. I'm going to update #405 to try to capture this.

[2019-03-13 22:03] maneesha opened #409 "consistency in all "community" pages"
Headers, formatting,  and other language as relevant should be consistent for all the pages in the "Our Community" section.

* Size/formatting of headers
* Language about listing profiles as public
* Divs of top row of profiles overlap the preceding paragraph div, so links become unclickable.

I'm working on fixing all these things this week.

[2019-03-24 13:26] gvwilson opened #419 "flags not showing up for upcoming workshops"
See screenshot for examples. There are also some workshops that don't have any location listed.

![Screen Shot 2019-03-24 at 9 25 02 AM](https://user-images.githubusercontent.com/911566/54880046-dae1f800-4e16-11e9-8254-fb45d99aef30.png)

[2019-03-25 09:59] fmichonneau commented on #419
Thanks @gvwilson.

I fixed the AMY data for the UCSD workshop and the changes will propagate to this page in a few hours.

For the DC workshop, the instructors didn't use our template and so the metadata are not in sync with AMY (https://sateeshperi.github.io/2019-04-11-gwu/). @maneesha @sheraaronhurt @Talishask could you please follow up with them?

[2019-03-25 13:55] maneesha opened #420 "Newsletter page date format"
On the [newsletter page](https://carpentries.org/newsletter/) dates are formatted using US standards (MM/DD/YYYY).  Format should be changed for an international audience.

[2019-03-25 13:55] maneesha opened #421 "Newsletter page date format"
On the [newsletter page](https://carpentries.org/newsletter/) dates are formatted using US standards (MM/DD/YYYY).  Format should be changed for an international audience.

This requires configuration in Mailchimp, not our website.

[2019-03-26 14:38] maneesha commented on #419
Thanks @gvwilson  and @fmichonneau
Closing this as we are following up internally.

[2019-03-26 14:38] #419 closed

[2019-03-26 19:19] maneesha commented on #420
Duplicate, closing.

[2019-03-26 19:19] #420 closed

[2019-04-04 13:44] katrintirok commented on #387
I updated/removed info on African community/task force with this PR #430

[2019-04-05 15:29] #387 closed

[2019-04-05 19:17] maneesha commented on #409
Fixed with d4f474222ea65ce959b38f46376042ee3ed49f72 and a81717164078058219903741854d792c600d508c

[2019-04-05 19:17] #409 closed

[2019-04-05 19:24] maneesha commented on #129
Awards page redirect fixed with https://github.com/swcarpentry/website/commit/492b2f65f45de1283cdf23138a76651676877a9f

[2019-04-05 19:28] maneesha commented on #129
Data Carpentry checkout page fixed with https://github.com/datacarpentry/datacarpentry.github.io/commit/7eeedd9d3f8c01b50a31a16b5196756cdd29a9a0

[2019-04-05 19:33] maneesha commented on #129
Data Carpentry troubleshooting page fixed with ce3d3aa31741958544ef90b5e7f8cc9ffd8a2968

[2019-04-05 19:33] #129 closed

[2019-04-16 08:18] bnwaweru opened #435 "lesson language"

[2019-04-16 15:29] maneesha commented on #435
Hi @bnwaweru  You can read about the work of our Spanish language translation team [here](https://carpentries.org/community/#carpentries-en-latinoam%C3%A9rica) and [here](https://docs.carpentries.org/topic_folders/regional_communities/carpentries_en_latinoamerica.html).

I think @ErinBecker  can talk to you more about communities who have been interested in other language translations.

[2019-04-16 19:12] maneesha commented on #421
Per Mailchimp customer support this can not be done via a simple setting. Developer tools may help. Need to look into this more.
https://developer.mailchimp.com/

[2019-04-17 06:57] bnwaweru commented on #435
Dear Maneesha,

Thank you for your response and for the links, i will definitely join the
Africa Carpentries team.

I hope to learn more from @ErinBecker .

Sincerely,

Bernice

On Tue, Apr 16, 2019 at 6:30 PM maneesha sane <notifications@github.com>
wrote:

--
Bernice N. Waweru
Research Fellow, Bioinformatics CoP, BecA- ILRI, Nairobi
https://acaciaafrica.org/bioinformatics-community-practice/
---

[2019-04-23 17:22] ErinBecker commented on #435
Hi @bnwaweru - My apologies for the delayed response - we've had a holiday weekend here in the US. There have indeed been various conversations about creating language translations for a number of The Carpentries' lessons, and there are now a number of Spanish translations that are supported by community members as active Maintainers. At present, we do not have staff time available for supporting

[2019-04-23 17:31] ErinBecker commented on #435
@ngrafgr - re. Portugese
@ juan-pineda - re. Spanish

[2019-04-23 20:17] raynamharris commented on #435
It does seem like it would be nice to have a group of people dedicated to staying informed about translations and providing guidance and/or standards for translating lessons.

I know a lot of people are passionate about Spanish translations. I'm not sure who would be also interested in being part of the discussion (or potential task force) about lessons translations in general, but people who come

[2019-04-23 22:55] flor14 commented on #435
Hello! I am planning to contribute with Spanish translations in the following month. It sounds interesting to me being part of a discussion with other instructors about that topic.

[2019-04-24 14:00] orchid00 commented on #435
Hi @bnwaweru, another option is automatic google translation. Here is an example https://carpentries-es.github.io/sql-ecology-lesson-es/ the top right corner of the menu is a language selector. This is something we tried a me tested last year, the translation using main languages was rated as good enough. This example was made by berenice, mateuz and I.

[2019-04-25 05:04] TomKellyGenetics commented on #435
Hi everyone, I'm happy to advise based on what we've experienced with Japanese so far. We're very much following in the footsteps of the Spanish team and are grateful for their efforts and advice. There are some Slack/Topicbox channels for localised lessons and for Japanese we also use our own GitHub organisation repo to track our translations. This is open if you want to use it to guide your own

[2019-04-25 05:08] TomKellyGenetics commented on #435
@bagustris - re. Bahasa Indonesia

[2019-04-29 07:27] bnwaweru commented on #435
Dear Everyone,

Thank you all for such positive responses and feedback!

This became a concern for a group of us who were recently trained under the
Bioinformatics  Community of Practise at ILRI-BecA in Nairobi Kenya. We are
from different African countries, where for some Swahili and French are the
languages of communication and teaching. It would be useful to have the
lessons in a language spoke

[2019-04-29 14:08] Helysalgado commented on #435
Hi Rayna,

Thanks for the coordination. Pleased to participate and support what I can
and is within my reach.

regards,

Hely Salgado

El mar., 23 abr. 2019 a las 15:17, Rayna M Harris (<notifications@github.com>)
escribió:

[2019-04-29 17:15] ErinBecker commented on #435
Hi all - it seems like we have quite a bit of momentum here around creating and maintaining lesson translations for communities outside of predominantly English-speaking regions. I like the idea of creating a mailing list or Slack channel (or both) dedicated to growing The Carpentries in non-English speaking areas. Any suggestions for what we should name such a channel?

[2019-05-02 12:14] maneesha opened #444 "Alt image for people without a GH account"
If someone consents to publishing their profile but does not have a a GH account on file, they look like this:

![image](https://user-images.githubusercontent.com/829690/57074554-3c1ca700-6cb2-11e9-8cf3-300386ad2df4.png)

We should create a placeholder image (maybe just a solid color block) rather than a broken image.

[2019-05-02 12:16] maneesha commented on #421
Have this working locally.  API key has been added to travis.  Need to add code  to https://github.com/carpentries/amy-feeds (or other repo since it's not actually AMY) and update page in this repo.

[2019-05-07 01:47] TomKellyGenetics commented on #435
Hi Erin,

I'd suggest "localisation" or "internationalisation" as we've also had to deal with differences in culture and background knowledge. Especially for Japanese and Korean, I think a direct translation is not always the best approach as learners would invest time in understanding examples that are unfamiliar to them rather than on the core concepts. In Japan "language" and "nationality" are

[2019-05-07 15:40] fmichonneau commented on #444
Yes, that's a good idea. We also have the gravatar ID available in the JSON file, so we could default to this and if the person doesn't also have a gravatar, they provide a default image. The URL for the gravatars are: `gravatar.com/avatar/{{ gravatar id }}`

[2019-05-07 16:12] maneesha commented on #444
Thanks - I wasn't aware of the gravatar id.  Looking at their documetation, it looks like this will give us the gravatar if exists, or the "mystery person" gravatar.

https://www.gravatar.com/avatar/123456789?d=mp
![image](https://user-images.githubusercontent.com/829690/57315255-34e60680-70c1-11e9-9b34-33c7401d251a.png)

[2019-05-08 19:37] lauracion commented on #435
Hi All,
This is great! I just arrive to this thread through Slack. I've been getting increasingly involved in the Spanish translation and in growing The Carpentries reach in Spanish-speaking countries, too. Happy to join a more general translation taskforce, too.  Indeed, I just wrote to Francois asking about how to work in the Spanish The Carpentries without losing ties with "The Carpentries moth

[2019-05-09 15:24] MathildeMousset commented on #435
Hi all,
Thank you @ErinBecker for redirecting me here.
I can help with the translation of some lessons to French, if the Africa team is interested (hi @bnwaweru !).
Since I am new to the Carpentries, I am not sure whether there is something I can really bring to a general translation task force yet, but I think that's a great idea! Many things to think about.

[2019-05-10 19:41] maneesha commented on #444
Fixed with 0a5f3bbf71a3de9f3d1d9caf2f779cd2c4ab2989

[2019-05-10 19:41] #444 closed

[2019-05-10 19:42] maneesha commented on #421
Fixed with f9590c052858736f354345d3efe3591199930738

[2019-05-10 19:42] #421 closed

[2019-05-11 20:38] raynamharris opened #448 "display Spanish-speaking instructors, maintainers, mentors, and trainers"
I'd like to populate the http://carpentries.org/latam-tf/ page with the community profiles of all the Spanish-speaking community members who are part of these groups

* instructors
* maintainers
* mentors
* trainers

What would I need to add to these lines of code to select for AMY entries where  "Languages" includes Spanish or Castilian?

[code]

This is related to #447 but is in an independent u

[2019-05-11 22:22] raynamharris opened #449 "table of all lessons with number of contributors"
At SciPy in 2018, I heard @tracykteal make a comment about how each lesson was an open source project in and of itself. She quoted a total number of lessons, but I don't recall the specifics. This of "suggest episodes for teaching demos" is the most comprehensive list that I've seen of our 26 of our lessons https://carpentries.github.io/instructor-training/demo_lessons/index.html

There GitHub API

[2019-05-11 23:13] agbeltran commented on #449
I think it would be great to have those stats! I'd also be interested in knowing how many times a lessons has been taught - this could possibly be collected from inspecting each workshop website (taken from the website list of past workshops).

[2019-05-13 19:39] ErinBecker commented on #449
These both sounds like *excellent* ideas! I would love to see this information and have it publically available to the community. Are there any community members who have experience working with the GitHub API and who would be interested in working on this?

[2019-05-17 17:55] maneesha commented on #448
The query is possible, however we do not have consent to publish people's language.  We'd have to review our consent policy before moving ahead on this.  @fmichonneau  What do you think?

[2019-05-20 05:33] fmichonneau commented on #448
Good point Maneesha. It also looks like the text of [our privacy policy](https://docs.carpentries.org/topic_folders/policies/privacy.html#id3) doesn't include people's language among the information we store. This seems like a useful thing to share with the community if people agree though. What would it take to add this capability to AMY?

[2019-05-21 16:44] raynamharris commented on #448
Thanks to the discussion. This is a feature that we have been discussing among Spanish-speakers in the community, so I agree with @fmichonneau that is is a useful thing to share and that people want that information displayed. Do we need actual consent, in the form of a form or checkbox, that says we might publish what language someone speaks?

[2019-05-28 20:42] maneesha commented on #448
We are having some internal discussions with our Leadership Team about what this means for our privacy policy and will follow up here once we have more information.  Thanks so much for bringing this up @raynamharris !

[2019-05-30 22:05] fmichonneau opened #470 "update "what is a workshop""
Currently there are 3 buttons under each of the lesson program to request a workshop.

However, we use the same form and process now. So we should have a single button that says "Request a workshop" below the description of the 3 lesson programs.

page: https://carpentries.org/workshops/
target for button: https://amy.carpentries.org/forms/workshop/

[2019-06-01 20:23] lauracion commented on #435
Unrelated, but I believe this may be of interest to people in this thread: https://discuss.ropensci.org/t/community-call-managing-multilingual-communities/1722

[2019-06-01 20:42] agbeltran commented on #435
This thread is great! It'd be great to coordinate efforts with the different translations, and create a single process/infrastructure to handle updates, etc.

+1 for internationalisation

[2019-06-01 20:46] agbeltran commented on #435
And about infrastructure/process, @dpshelio has been experimenting with different options that sound great.

[2019-06-03 06:07] TomKellyGenetics commented on #435
@agbeltran Yes, we've been working with a fork of the internationalisation tools developed by @dpshelio for the Japanese team. We had a bit of confusion getting started but it's working great for a small group of translators. You can see our guides (in English) and progress at the repo below.

Internationalisation: https://github.com/swcarpentry-i18n/i18n
Japanese fork: https://github.com/swcarpen

[2019-06-03 11:23] flor14 commented on #435
Hello!
We are using the tool of @dpshelio too, through a platform called Transifex
(https://www.transifex.com/) for the translation to Spanish of the code of
conduct.

El lun., 3 jun. 2019 a las 3:07, Tom Kelly (<notifications@github.com>)
escribió:

[2019-06-18 13:11] maneesha commented on #470
@sheraaronhurt  What do you think of this?

The buttons on the  https://carpentries.org/workshops/ page don't go directly to the workshop request form but rather to the "workshop" page on each lesson program's website. I would suggest keeping as is for now, and then when we get the new forms (currently under development) in place, we can re-organize all of this.

[2019-06-18 17:17] ErinBecker commented on #470
I agree with @fmichonneau that there should be a single button that goes to the workshop request form.

[2019-06-21 20:44] maneesha opened #479 "Where should "Our Impact" go?"
The "Our Impact"  menu option (which goes to our Assessment page) is currently under "Learn."  Would this be better under "About" instead, as the reports are not just about workshops?

Feedback from @kariljordan  or @serahrono would be appreciated - I can make the change from there.

[2019-06-24 15:49] kariljordan commented on #479
I'm remembering the initial conversation we had when we added the the assessment info, and I think it fits best under **Learn** because people can learn not only about workshops, but about the impact our workshops and programs are having. Also, there are already a lot of drop downs under the **About** drop down and it's starting to look crowded :)

[2019-06-25 15:34] maneesha commented on #479
Thanks @kariljordan   - we will keep it as is.

[2019-06-25 15:34] #479 closed

[2019-07-01 20:41] rgaiacs opened #486 "Copy of Announcing the 2018 Executive Council for the Carpentries"
Can we have a copy of https://software-carpentry.org/blog/2017/12/executive-council-2018.html on the website?

[2019-07-02 21:17] ErinBecker commented on #435
Hi all - I've just created the Slack channel #internationalisation. If you're not yet on The Carpentries Slack organization, you can join here: https://swc-slack-invite.herokuapp.com/. To join the new channel: https://swcarpentry.slack.com/messages/CL357S0CD

[2019-07-02 21:33] ErinBecker commented on #435
There is a *lot* of community excitement about this, for many of the different languages that our Instructors, learners, and other community members use. Individual lesson translations have been works of passion by community members, and have undoubtedly been used in many individual workshops, but because of the current lack of infrastructure in our lesson stack to support maintenance of multiple

[2019-07-05 04:43] TomKellyGenetics commented on #435
This is timely for us. Progress with the Japanese team has been slow recently but we are meeting soon to discuss how we can make things easier for more people to get involved. I've posted more details on the internationalisation channel. We also have dedicated channels:

https://carpentries.topicbox.com/groups/curriculum-japanese (English)

https://r-wakalang.slack.com/messages/CEG87QAE5/ (English

[2019-07-06 19:19] sheraaronhurt commented on #470
@maneesha I agree with you that leave it for now until we get the new WRF created. Once it is created, I would then like to have the one button as @fmichonneau  suggests going to the new WRF.

[2019-07-08 20:25] maneesha commented on #136
Assigning to @kariljordan  to consider as part of the The Carpentries Equity, Inclusion, and Accessibility Roadmap

[2019-07-11 15:25] maneesha commented on #448
Update - we are still considering what this means for The Carpentries from the privacy policy perspective.

I do think it would be useful to have a page like this though.  As an interim measure, @raynamharris  would you be willing to help reach out to community members to ask them if they'd want to be listed on this page? We could then have them submit PRs to our website to add their names to the

[2019-07-12 16:23] maneesha commented on #486
Hi @rgaiacs
The 2019 and 2018 Executive Council members can be found on The Carpentries website: http://carpentries.org/governance/

Were you looking to see more information there?

[2019-07-12 16:30] maneesha commented on #449
Here's the [code](https://gist.github.com/maneesha/0c7318f071201db9edd8818b731c4916) to get this data.  I'm working with @fmichonneau  to add this to our website.

[2019-07-12 16:32] maneesha commented on #449
And here's a preview of what this looks like as of today:

- datacarpentry/ecology-workshop 23
- datacarpentry/spreadsheet-ecology-lesson 81
- datacarpentry/OpenRefine-ecology-lesson 63
- datacarpentry/sql-ecology-lesson 73
- datacarpentry/R-ecology-lesson 146
- datacarpentry/python-ecology-lesson 130
- datacarpentry/python-ecology-lesson-es 133
- datacarpentry/genomics-workshop 47
- datacarpentry

[2019-07-12 18:50] maneesha commented on #406
This seems to be fixed, closing.

[2019-07-12 18:50] #406 closed

[2019-07-12 18:54] maneesha commented on #334
I've just updated The Carpentries website to have dedicated pages for past and upcoming workshops.
Data Carpentry and Software Carpentry have dedicated pages for past and upcoming workshops.

Library Carpentry has them all on one page - and until we decide to automate the listing, I don't think it's realistic to have accurate future/upcoming pages.

Ideally all these sites should also have a simil

[2019-07-12 18:54] #334 closed

[2019-07-12 18:58] maneesha commented on #388
Updates have been made over the past months; closing this now.

[2019-07-12 18:58] #388 closed

[2019-07-12 18:59] maneesha commented on #197
Much of this has been migrated to the handbook so I'm closing this.  Anyone can feel free to re-open if things are not working.

[2019-07-12 18:59] #197 closed

[2019-07-12 19:00] maneesha commented on #368
Fixed with #492

[2019-07-12 19:00] #368 closed

[2019-07-13 03:35] maneesha opened #494 "Icons for lesson programs are too small"
The icons for the lesson programs on the workshop lists are very tiny.  Somewhere css is over-riding values set inline.

![image](https://user-images.githubusercontent.com/829690/61166556-8c5b8500-a4fd-11e9-8cbc-97b9fc1d8196.png)

See same table formatting for:
* [bottom of main page](https://carpentries.org/)
* [past workshops page](https://carpentries.org/past_workshops/)
* [upcoming workshops p

[2019-07-16 13:59] maneesha opened #498 "Update to language in Trainers section?"
Our [Traniers](https://carpentries.org/community/#trainers) section reads:

I know not all Trainers have experience as Instructors.  @karenword  do you have suggestions for how we can update this?

[2019-07-16 16:23] fmichonneau opened #502 "add information about the Carpentries Member Council"
as noted in UF-Carpentry/Coordination#119, information about the Carpentries Member Council is insufficient (or hard to find).

[2019-07-16 21:10] elizabethwilliams8 commented on #502
It is non-existent. We are just renewing this council, and September will be the third meeting in a long time. Already, we have changed the structure of who attends and are still seeking feedback on what is the most useful to include in these meetings. Soon we will be in a place to properly define it and find the most appropriate place to keep resources.

[2019-07-18 19:46] rgaiacs opened #505 "Can we pin this repository?"
As describe in https://github.blog/2016-06-16-pin-repositories-to-your-github-profile/.

[2019-07-18 20:04] maneesha commented on #505
Done! Thanks for the suggestion.

[2019-07-18 20:04] #505 closed

[2019-07-22 12:05] #494 closed

[2019-07-25 22:20] raynamharris commented on #449
Now in table form, sorted alphabetically rather than by contributors

GitHub Organization | Lesson | Contributors
---|---|---:|
Carpentries | instructor-training | 130
Data Carpentry | cloud-genomics | 64
Data Carpentry | ecology-workshop | 23
Data Carpentry | genomics-r-intro | 41
Data Carpentry | genomics-workshop | 47
Data Carpentry | geospatial-workshop | 40
Data Carpentry | OpenRefine-ecology

[2019-07-30 18:47] maneesha commented on #486
Closing this - @rgaiacs please re-open if there is something else you are looking for.

[2019-07-30 18:47] #486 closed

[2019-08-16 20:22] elizabethwilliams8 opened #522 "Instructor Development Committee update"
The listed members of the IDC are out of date and need to be updated.

[2019-08-16 21:14] maneesha commented on #522
Thanks for this, @elizabethwilliams8
Where do you see the IDC members listed? When @kariljordan  is back I'll check with her to update this.

[2019-08-16 23:12] elizabethwilliams8 commented on #522
in blog post: https://carpentries.org/blog/2019/04/new-idc-members/

[2019-08-21 14:45] maneesha commented on #498
Pinging @karenword

[2019-08-21 14:46] maneesha commented on #470
Closing this as it is being addressed with the changes to the new workshop request form.

[2019-08-21 14:46] #470 closed

[2019-08-21 14:47] maneesha commented on #390
These stats will be dynamically shown in the new workshop page, to be launched in early September.  I've tried changing things on just this page but it messes up other formatting.  Will revisit this once the workshop page launches.

[2019-08-21 14:48] maneesha commented on #502
Assigning to @elizabethwilliams8  for future follow up.

[2019-08-21 16:31] maneesha opened #525 "Should we list voting members on our website?"
The Software Carpentry website historically has listed individual voting members.  See screenshot:
![image](https://user-images.githubusercontent.com/829690/63442938-ef481200-c401-11e9-8035-c335df9f279f.png)

However both the voting qualifications and the list itself are out of date.  For now I am having it redirect to the voting eligibility guidelines in the handbook.  On the SWC page, it was a m

[2019-08-21 17:01] tracykteal commented on #525
Posting lists of people should conform to the same guidelines as in 'share my information' in AMY. So, I don't think we should publicly post this list. Is this list up somewhere live on the SWC website now?

[2019-08-21 18:08] amyehodge commented on #525
+1 to Tracy. We should conform to the permissions granted in AMY. Posting an incomplete list is not useful. I'm not sure what purpose posting a list would actually serve. Anywhere this exists online already should be taken down.

[2019-08-21 22:22] #498 closed

[2019-08-21 22:23] maneesha commented on #525
I already took down the page.  I'll close this as it doesn't seem we want an equivalent page on The Carpentries site.

[2019-08-21 22:23] #525 closed

[2019-08-21 23:16] tracykteal commented on #525
Great, thanks @maneesha

[2019-08-26 12:03] maneesha commented on #522
closed with #528

[2019-08-26 12:03] #522 closed

[2019-09-17 13:30] maneesha commented on #390
Closed - dynamic stats are now on the [new workshop page](http://static.carpentries.org/workshops/).

[2019-09-17 13:30] #390 closed

[2019-09-20 14:33] fmichonneau opened #546 "use fontawesome for orcid icon"
It's now released so we don't have to load both fontawesome and academicons: https://fontawesome.com/icons/orcid?style=brands

[2019-09-24 19:15] #546 closed

[2019-09-25 05:40] fmichonneau commented on #546
Thanks for taking care of this!

[2019-10-03 12:49] maneesha commented on #449
A live feed is now available [here](https://feeds.carpentries.org/lesson_contributor_count.json).  Next step is getting this as a table on The Carpentries website and the lesson program sites.

[2019-11-06 19:35] maneesha commented on #449
This feed is actually a bit misleading as each repo includes the contributors to the styles repo that it's based on.  I'm working on modifying the query so that those contributors are not included in the lesson contributor count.

[2019-11-13 17:40] raynamharris opened #607 "bold formatting not working on blog post"
@karenword's latest blog post has a lot of bold formatting, but none of it appears in the published blog...  any idea what is causing the problem? Should the bolding be changed to subheadings or is there another fix? Here's a snapshot of a few instances.

https://github.com/carpentries/carpentries.org/pull/606/

![Screen Shot 2019-11-13 at 9 39 07 AM](https://user-images.githubusercontent.com/7544

[2019-11-13 18:31] karenword commented on #607
Thanks for pointing this out @raynamharris ! On my browser I do actually see some bolding, it's just very faint. I wonder if this has to do with the font we use on our website rather than an error in formatting?

[2019-11-14 16:59] maneesha commented on #607
I can see the bold formatting on my screen:

![image](https://user-images.githubusercontent.com/829690/68878428-b1dbe380-06d5-11ea-843a-551d64f74dfd.png)

@fmichonneau recently put in a PR that changed the fonts on our site.  This might cause fonts to not render properly across all browsers.

@raynamharris  Do you see the bold formatting on [this post](https://carpentries.org/blog/2019/11/carpentr

[2019-11-17 17:13] raynamharris commented on #607
It's so strange that I'm the only one with this problem. The headers look nice, but I don't see any bolding in that post either.  I'm using chrome on mac ios.

![Screen Shot 2019-11-17 at 9 11 40 AM](https://user-images.githubusercontent.com/7544197/69010983-5babb200-091a-11ea-8e93-dc1a6a5bceec.png)

[2019-11-19 16:42] fmichonneau commented on #607
Hi @raynamharris to help troubleshoot this, can you please:

- open the developer tools (Command+Option+I)
- click on the icon with a mouse cursor on a screen (the top right icon)
![Screenshot from 2019-11-19 11-39-47](https://user-images.githubusercontent.com/5502922/69166495-55a40580-0ac1-11ea-8e02-4b0dbebe1dd0.png)
- select by clicking on something that should be in bold
![Screenshot from 2019-

[2019-11-21 02:10] raynamharris commented on #607
Does this help @fmichonneau

![Screen Shot 2019-11-20 at 6 09 19 PM](https://user-images.githubusercontent.com/7544197/69297827-01804a80-0bc1-11ea-8460-8f0d5cb95536.png)

[2019-11-27 21:35] maneesha opened #617 "Template for Regional Coordinator pages"
Right now each [Regional Coordinator](https://carpentries.org/regionalcoordinators/) page is manually created. Each page has roughly the same format though. So this should use a template to ensure things stay consistent and don't break.

[2019-12-03 19:30] maneesha commented on #607
Thanks for sharing this @raynamharris
I do see the bold style struck out on your screen shot but I don't actually know why this would happen.  Any ideas @fmichonneau ?

[2019-12-03 19:39] #607 closed

[2019-12-03 19:41] fmichonneau commented on #607
Thanks @raynamharris
Could you please go here: http://static.carpentries.org/blog/2019/11/trainer-training-2019/
and re-open the issue if the bolding is still not showing up.

[2019-12-16 06:46] karenword opened #639 "Contact page has blank Twitter contact category"
Just went [here](https://carpentries.org/contact/) to look for our mailing address and noticed that there is a lonely "on Twitter:" over on the right side without any info underneath it.

[2019-12-16 18:35] fmichonneau commented on #639
are you using an adblocker?

[2019-12-16 20:04] karenword commented on #639
Aha, yes - disabling the ad blocker solves this. Closing issue!

[2019-12-16 20:04] #639 closed

[2019-12-17 21:07] angela-li opened #640 "Include "Edit This Page" links on blog posts"
It would be neat to include an "Edit this page" link on Carpentries blog posts so that individuals could submit typo fixes as PRs (and see where the raw content is), similar to the the ["Edit" button in bookdown documents](https://bookdown.org/yihui/bookdown/configuration.html).

Not a high priority, but could be a nice-to-have!

[2019-12-19 20:13] #640 closed

[2019-12-19 20:14] fmichonneau commented on #640
Thanks for the suggestion @angela-li !

Blog posts and other pages now have a link "Edit this page on GitHub" at the bottom.

[2019-12-19 20:23] angela-li commented on #640
Thank you @fmichonneau! Much appreciated 🙏

[2020-01-08 21:23] maneesha commented on #617
This is low priority but should be considered as we will likely bring on new RCs.

[2020-01-15 19:11] kariljordan opened #656 "Links not working in CDH blog post"
I'm linking to the [CDH blog post](https://github.com/carpentries/carpentries.org/blob/gh-pages/_posts/2019/04/2019-04-03-curriculum-development-handbook.md) in an email and noticed that two of the links do not work.

- [Chapter 1: Conceptual elements](https://cdh.carpentries.org/conceptual-elements.html)
- [Chapter 5: Community development ](https://cdh.carpentries.org/community-development.html)

[2020-01-17 20:21] maneesha commented on #656
@kariljordan Thanks for catching this.

@fmichonneau This looks like it is due to restructuring some of the pages.  I'm not as familiar with how the CDH is built. Is there a way to do redirect to/from like there is in jekyll pages?

[2020-01-21 14:42] fmichonneau commented on #656
no there isn't a way to do redirects, the links will need to be udpated in the blog post.

[2020-01-23 02:11] kariljordan opened #661 "Update jobs page"
@serahrono, we would like to remove the following open positions from the [jobs page](https://carpentries.org/jobs/) as we are moving forward into second round interviews with current candidates, and are no longer accepting applications:

- [Communications Manager](https://carpentries.org/communications-manager/)
- [Deputy Director of Instructor Training](https://carpentries.org/deputy-director-of

[2020-01-23 12:51] serahrono commented on #661
Thanks for checking, @kariljordan, I added PR #662 with notes and would like for you to have a look.

[2020-01-27 18:10] fmichonneau opened #667 "update queries for creating workshop table"
instead of using `if` statements, use a combination of `if` and `where` to make sure workshops with multiple tags are listed (but only once).

[2020-01-27 20:20] maneesha commented on #667
I'll be working on trying this out this week.  I have a few test scripts ready that I need to play around with.

[2020-01-27 20:21] maneesha commented on #661
@serahrono  @kariljordan  Can this be closed?

[2020-01-27 20:26] maneesha commented on #656
Thanks @fmichonneau

Question for @ErinBecker  and @fmichonneau -- I always think of blog posts as ephemeral.  Their content is meant to represent one point in time, rather than being a dedicated source of information.  In this case, it's not just a matter of fixing a couple of broken links. The overall TOC of the CDH has changed.  I would recommend not changing the blog post itself, but maybe add

[2020-01-28 23:33] kariljordan commented on #661
Yes! I'll close it.

[2020-01-28 23:33] #661 closed

[2020-01-30 15:27] lexnederbragt opened #671 "Add contact info for Executive Council"
In pages/contact.md, could this line be added:

To contact the Executive Council, see [link to https://static.carpentries.org/governance/].

Then, on pages/governance.md, could a section on contacting the EC be added, for example just above or below the names of the current council? Information on how to contact the EC can be found at https://github.com/carpentries/executive-council-info.

[2020-01-31 19:26] ErinBecker commented on #656
That sounds great @maneesha  - could you put in a PR?

[2020-02-04 10:27] fmichonneau commented on #656
fixed with #674

[2020-02-04 10:27] #656 closed

[2020-02-04 10:55] fmichonneau commented on #667
great, let me know when you have something for me to review!

[2020-02-07 17:19] kariljordan opened #681 "Linking Core Team page with Core Team Projects page"
#673 introduces our Core Team projects page. In the current [team page](https://carpentries.org/team/) we have this sentence:

We work in teams to manage our day to day work and our large projects. Read more about who is on each team and what each team does.

The link to [what each team does](https://docs.google.com/document/d/1WThv85Mqhd7qin_fNrwbpe37UMzUy6K0oj72eEY4oK8/edit) goes to a Google doc

[2020-02-07 19:24] maneesha commented on #671
Thanks @lexnederbragt
Let me know what you think of #682

[2020-02-10 10:20] lexnederbragt commented on #671
Perfect! Thanks.

[2020-02-11 11:08] #671 closed

[2020-02-28 10:44] fmichonneau commented on #667
@maneesha I had forgotten you had claimed this issue, and @elletjies pinged me this morning about some workshops not showing up after the 'email-automation' tag was added. I fixed it with https://github.com/carpentries/carpentries.org/commit/c9371a94629fe49f390c24f1d5a10088683a22e5 but don't hesitate to reopen if you had thought of a better approach.

[2020-02-28 10:44] #667 closed

[2020-03-11 12:30] kariljordan opened #696 "Update COVID-19 Blog Post"
In [this Slack thread](https://swcarpentry.slack.com/archives/C03LE48AY/p1583869718054500) @sheraaronhurt provided recommendations for instructors per this question:

- "hi all, whats the advice re: travel for a workshop when the university you are employed by sends a "no work related travel" notice?"

@sheraaronhurt can you add these recommendations to the blog post in #694 and add an update log

[2020-03-11 17:31] serahrono commented on #696
tweet sent out: https://twitter.com/thecarpentries/status/1237793106365501442?s=20

[2020-03-16 11:10] maneesha commented on #696
Is this ok to close? @serahrono @sheraaronhurt

[2020-03-16 11:11] maneesha commented on #681
@serahrono is this ok to close?

[2020-03-16 11:34] serahrono commented on #681
yes!

[2020-03-16 11:34] #681 closed

[2020-03-16 17:46] kariljordan opened #697 "Update About Us page outdated"
I was going through the [About Us](https://carpentries.org/about/) page and realised some of the information is outdated, including the number of member organisations. Opening this issue to remind myself to come back and update the page unless another team member is able to do it faster :-)

[2020-03-17 11:07] sheraaronhurt commented on #696
@maneesha yes. Thanks

[2020-03-17 11:09] #696 closed

[2020-03-18 14:22] kmomar opened #701 "How do you get to the handbook from the main Carpentries site?"
I wasn't able to find a link to the Handbook from the Homepage or any of the dropdown menus. I would recommend adding a link to the Handbook either to the homepage or one of the dropdowns.

[2020-03-18 15:08] maneesha commented on #701
Thanks for bringing this up @kmomar !
You're right.  It is referenced in various places on the site, but there is no direct link to it.  Do you have suggestions as to where it could go? Your perspective with fresh eyes is very much appreciated!

[2020-03-18 15:16] kmomar commented on #701
I think there are two places it could go: One at the bottom of the page where the links are, below the Code of Conduct and then at the top in the About dropdown.

[2020-03-18 18:04] kmomar opened #702 "Difference between Join Us and Get Involved on website homepage unclear"
On the homepage, the dropdowns Join Us and Get Involved are next to each other and it's unclear on first glance what the difference in the information will be. I would recommend either consolidating or renaming one of them.

[2020-03-18 18:24] maneesha commented on #701
Great ideas, @kmomar
Would you like to put in a PR?

[2020-03-19 16:58] kmomar commented on #701
Hi @maneesha, I've assigned this to myself and will be working on it early next week!

[2020-03-23 15:33] maneesha commented on #702
Great observation @kmomar ! If you have suggestions on how to reorganize these pages, please share!

[2020-03-23 19:41] kmomar commented on #702
My suggestions for consolidating the information is to change the page that is currently linked to "Join Us" in the drop down to the heading "Get Involved" and then the page that is currently linked when you click on "Get Involved" should have a clearer identity; we can change the heading to "Community Overview" and move it to the Our Community dropdown since there are no direct calls to action an

[2020-03-30 17:02] maneesha commented on #701
Fixed with #708

[2020-03-30 17:02] #701 closed

[2020-03-30 17:09] maneesha commented on #697
Here's a list of changes to make - I can work on this. I've also noted who I think should be responsible for each part. Please feel free to add to this as needed.
@kariljordan  and @elizabethwilliams8  you don't need to put in a PR yourselves. A comment here with the relevant information is good - I'll take it from there.

- [ ] Update Executive Director's name @maneesha
- [ ] Update count of memb

[2020-03-30 17:12] maneesha opened #709 "Update Assessment page"
The Assessment page needs updates.

- [ ] Links to the Survey Monkey sample surveys - this should be update to refer to the Typeform surveys. @fmichonneau  Can you remind me what we decided to do so people can easily preview the surveys in Typeform?
- [ ] New 2020 long term assessment survey should be included
- [ ] Update title for Kari Jordan
- [ ] Mismatched links:
         - Carpentries’ Long-

[2020-03-30 17:36] maneesha commented on #697
Items assigned to @maneesha  are being fixed with #710

[2020-03-30 17:54] maneesha commented on #709
New long term survey links:
- Zenodo: https://zenodo.org/record/3728205#.XoIyDXVKiV4
- GitHub: https://carpentries.github.io/assessment/learner-assessment/reports/2020-01-long-term-report.html

[2020-03-30 18:32] fmichonneau commented on #709
For the pre and post-workshop survey the archive is browsable here: https://carpentries.github.io/assessment-archives/ and the current pre and post surveys are available at:
- https://carpentries.github.io/assessment-archives/pre-workshop/pre-workshop.html
- https://carpentries.github.io/assessment-archives/post-workshop/post-workshop.html
respectively.

[2020-03-30 18:36] elizabethwilliams8 commented on #697
@maneesha I'll be able to get you an updated number by tomorrow. However, this number changes very often, if minutely. I think it might be better to say 'over 80 member organsiations' or over 90 or over 100 as we grow. Then we need only update when we pass a threshold of 10 more organisations. What do you think?

[2020-03-30 18:58] maneesha commented on #697
@elizabethwilliams8  Yes, that sounds great! We can do this in approximately 10-site increments.

[2020-03-31 03:33] kariljordan commented on #697
Thanks @maneesha! I'll have the information by Friday.

[2020-03-31 21:05] #709 closed

[2020-04-01 19:33] kariljordan commented on #697
@Talishask is finishing up our financial report so she can help with the revenue percentage breakdown. Thanks so much for getting this updated @maneesha!

[2020-04-01 20:35] elizabethwilliams8 commented on #697
@maneesha membership number is updated!

[2020-04-07 07:39] lexnederbragt opened #722 "Record of past Executive Councils"
https://static.carpentries.org/governance/ has a list of past EC members, but not of past ECs. I propose to add a link from this page to a page listing the composition and officer roles of all past ECs. I have prepared this list (2018 EC and 2019 EC), but am uncertain where to put it: on carpentries.org or in the handbook, for example as part of https://docs.carpentries.org/topic_folders/governanc

[2020-04-07 21:26] kariljordan commented on #722
This is an opportunity for our Communications Manager to shine. Please allow me to transfer this issue to the repository for the Carpentries website and assign it to Omar. Will that work @lexnederbragt?

[2020-04-08 06:36] lexnederbragt commented on #722
Absolutely!  (Isn't this the repository for the Carpentries website, though...?)

[2020-04-08 18:43] Talishask commented on #697
@kariljordan - Here is my rewrite of the section on how we're funded. Please review and update verbiage if needed.

@maneesha - Feel free to include links to other site pages as applicable.

[2020-04-09 22:02] maneesha commented on #697
Thanks @Talishask !

@elizabethwilliams8  I don't see a PR or comment here with updates to the membership numbers (organizations and countries).  Could you share that again please?

[2020-04-10 00:20] kariljordan commented on #697
Thanks so much @Talishask!

[2020-04-10 00:22] kariljordan commented on #722
Ah! You are absolutely correct @lexnederbragt! I just assumed it was the EC repo when I saw your name. That's my fault!

@kmomar please see above.

cc @serahrono

[2020-04-10 13:51] kmomar commented on #722
Hello all! Joining the conversation here. I think it makes more sense for it to be a new page on carpentries.org, perhaps as a new page under the "Our Community" tab. This would leave the handbook section as a general overview of the kinds of work and resources about the Executive Council as a general entity. Let me know if this makes sense!

[2020-04-11 20:27] rbavery opened #730 "Links on the curricula page could link to the lesson webpages to make them more discoverable"
If I was unfamiliar with the separate data carp and software carp websites and wanted to find a list of lessons, I would go to the "learn" tab and probably then to "Our curricula": https://carpentries.org/workshops-curricula/

It'd be nice if this page had thumbnails for each lesson and links to those lessons. Right now it just has paragraphs that link to each other.

The only way I've found to na

[2020-04-13 17:31] maneesha commented on #730
Thanks for this suggestion @rbavery
Some of this may require us to re-think parts of the website organization.  As a quick fix for now, what do you think of adding a link to each paragraph on that links back to the relevant SWC/DC/LC page?

[2020-04-14 07:58] lexnederbragt commented on #722
Hi @kmomar! I support adding it to carpentries.org rather than the handbook. Currently, people looking for the EC now have one place to go: About -> Governance. Adding past EC members to the community tab would perhaps be confusing? Can we add the page without adding it to the tabs but only to linking it from the About -> Governance page?

[2020-04-14 13:13] kmomar commented on #722
Hi @lexnederbragt. I spoke with @serahrono and we agree that it could also work to include these on the the current Governance page and have the Executive Council member list broken down by year. This would keep Executive Council information centralized. If that works, please send me the list and I will work on updating it.

[2020-04-14 13:29] lexnederbragt commented on #722
Hi,

Here are the members of the first two ECs:

#### 2019 Executive Council

- Amy Hodge [Elected] - Chair
- Kate Hertweck [Appointed] - Vice Chair
- Mesfin Diro Chaka [Appointed] - Secretary
- Raniere Silva [Elected] - Treasurer
- Karen Cranston [Appointed] - Code of Conduct committee liaison
- Juan Steyn [Appointed]
- Joslynn Lee [Appointed]
- Lex Nederbragt [Elected]
- Elizabeth Wickes [Electe

[2020-04-14 16:08] elizabethwilliams8 commented on #697
@maneesha I updated the number on the About Us page to over 70. Is there a different process it would be better for me to follow in the future?

[2020-04-20 14:11] maneesha commented on #722
Hey @kmomar  @lexnederbragt  The [PR Omar submitted](https://github.com/carpentries/carpentries.org/pull/732) was merged. Is it OK to close this issue now?

[2020-04-20 14:13] maneesha commented on #697
This page always listed 70 members.  Looking at [the members page](https://static.carpentries.org/members/) it seems like "over 80" (or even "over 90" knowing some members ask not to be listed) may be a better number.  Also, is the number of countries accurate?
@elizabethwilliams8

[2020-04-20 14:28] lexnederbragt commented on #722
Yes. Thanks! Closing now.

[2020-04-20 14:28] #722 closed

[2020-04-20 15:43] elizabethwilliams8 commented on #697
@maneesha apologies, I updated the membership page, but not the about us page. I've updated the about us page now. I mentioned this issue there, and that closed the issue, which I was not expecting. Again, apologies if this is incorrect. I have had very few opportunities to use GitHub in the last couple of years. I am fairly positive the number of countries is correct, so I will schedule a task fo

[2020-04-20 17:39] maneesha commented on #697
Thanks @elizabethwilliams8
I'll open this back up now, and update the checklist above to edit the number of countries we have member orgs in once you are able to check on this.

[2020-04-20 18:24] elizabethwilliams8 commented on #697
Thank you @maneesha. Since I cannot think of a member site in a new country recently, I am confident that this number is correct or very close to correct. Due to ongoing work and the COVID-19 response and mediation work, I would like to schedule a double check and update on this number at the beginning of the next quarter. I would like to schedule a recurring quarterly task to review and update bo

[2020-04-20 18:43] maneesha commented on #697
Sounds great, Elizabeth.  I just moved this to Asana so we can keep track of it there.

[2020-04-20 18:43] #697 closed

[2020-04-27 18:37] fmichonneau opened #745 "Create page that gathers info about online teaching"
I think @serahrono is maybe working on a similar idea of the handbook so my apologies if this is redundant.

Having a single page that lists blog posts and pages and other resources about online teaching would be very useful for our community. I believe it's difficult currently for community members to keep track of the information we provide via blog posts.

This page (even if it lives in the han

[2020-04-29 09:41] serahrono commented on #745
hi @fmichonneau, the evolving list of all resources relevant to Online Workshops is now available here https://docs.carpentries.org/topic_folders/hosts_instructors/index_online.html, and has been linked to from the top of the official recommendations page

[2020-04-30 11:31] Fnyasimi opened #751 "Instructor Map View Not showing Instructors from all locations/countries"
1. The instructor map view does not show instructors from all locations/countries. A good example is Kenya, on the map it shows there are no instructors from Kenya but on the instructors list I could see at least two of them. This will help people looking to connect with instructors in their region but don't want to necessarily scroll through the instructor's list (which will be growing overtime).

[2020-04-30 12:26] fmichonneau commented on #751
Hi Fnyasimi,

We let instructors control the information they want to share publicly.

Instructors show up on the map if:

- they agree to share their information in their AMY profile
- their nearest airport is documented in their profile.

The country in their profiles also needs to be documented to be shown in our list of instructors.

Thanks!

[2020-04-30 12:26] #751 closed

[2020-04-30 12:30] Fnyasimi commented on #751
Thanks for the explanation above, well understood.

[2020-05-04 16:32] maneesha commented on #745
@fmichonneau  and @serahrono  do you think this should also be linked to from The Carpentries main website?

[2020-05-04 16:39] serahrono commented on #745
@fmichonneau @maneesha it is linked to in the first sentence in this page https://carpentries.org/online-workshop-recommendations/

[2020-05-04 17:08] fmichonneau commented on #745
Thanks for putting this page together Serah!

I think we should also have a link directly on the front page/index page for carpentries.org that goes to the handbook.

Maybe we want to create a new section before the blog section?

[2020-05-04 17:25] serahrono commented on #745
we currently have a link under the Teach item in the menu (TEACH - ONLINE WORKSHOP RECOMMENDATIONS), and then the handbook link at the top of this page. Wondering whether having a separate link under one of the menu items directly to the handbook page will be confusing.

[2020-05-05 07:14] serahrono commented on #745
if you both think it won't be confusing to have this in two separate places, I'll go ahead and put in a PR creating the section you suggested @fmichonneau @maneesha. Let me know

[2020-05-08 12:53] #745 closed

[2020-05-13 14:37] kariljordan opened #766 "404 error on 2019 annual report link"
When I go to the [Annual Reports page](https://carpentries.org/reports/) and click [Annual Report, 2019](https://carpentries.org/files/reports/TheCarpentries2019AnnualReport) there is a 404 error.

The link should lead to [this page](https://carpentries.org/files/reports/TheCarpentries2019AnnualReport.pdf), but I'm not sure how to find this in the website files.

[2020-05-13 15:46] maneesha commented on #766
Thanks for catching this, @kariljordan
There was a typo in the link. I've just put in a PR to fix this.

[2020-05-13 15:46] #766 closed

[2020-06-11 08:17] elletjies opened #790 "Suggestion from Carpentries Community in South Africa"
A community member emailed me with a suggestion to add links to the 'local-africa' TopicBox channel somewhere on [this](https://carpentries.org/regions_za/) page. I know we have all the links here in the [Carpentries Handbook](https://docs.carpentries.org/topic_folders/regional_communities/african_task_force.html) - was just wondering if this would be a possibility to add it on [this](https://carp

[2020-06-11 12:41] maneesha commented on #790
Hi @elletjies  It's a great idea to link the Africa page on the Handbook with the page on the carpentries.org website. Would you like to put in a PR for this?

Your other question is also a very good one and I believe is being addressed in a future communications plan.  Suggestions are welcome!

[2020-06-11 12:59] elletjies commented on #790
Awesome! @maneesha I will out in PR for this (probably only next week).

[2020-06-18 07:55] elletjies commented on #790
@maneesha I created to PR's

https://github.com/carpentries/carpentries.org/pull/798
https://github.com/carpentries/docs.carpentries.org/pull/629

Thank you!

[2020-07-01 12:53] maneesha commented on #790
Closing this - those PRs have been merged.

[2020-07-01 12:53] #790 closed

[2020-07-01 18:42] ErinBecker opened #802 "Update who is on each team page"
Could we please update the who is on each team page (https://carpentries.org/core-team-projects/) to match what is on the team list on the onboarding packet?

Thanks!

[2020-07-02 23:41] Denubis opened #806 ""Our Member Organisations""
I was talking with @dvanic and we realised that there isn't a "Our member organisations" heading in
![image](https://user-images.githubusercontent.com/243503/86417732-43559f80-bd11-11ea-8178-c63bc97a5c66.png)

I think it's important for us to show our members off (and be easy to easily search for members) -- is this a matter of adding a header link, @fmichonneau, or is this a data-entry job?

[2020-07-03 01:34] serahrono commented on #806
Hi Brian 👋 member organisations aee currently listed under Join Us in the navbar -https://carpentries.org/members/

[2020-07-03 01:44] dvanic commented on #806
I'm not sure that's a logical place to find them.. (?) -

All of the other headings are about "Joining the community", which speaks to the next item in the navbar, "Our community"

![image](https://user-images.githubusercontent.com/3272378/86423104-3d1bef00-bd22-11ea-9d9a-cf786c835200.png)

[2020-07-03 01:48] serahrono commented on #806
makes sense @dvanic, we'll take your suggestion and place Current Member Organisations under the Our Community tab cc @elizabethwilliams8

[2020-07-03 15:42] kariljordan commented on #802
I reassigned this to @kmomar.

[2020-07-03 16:49] serahrono commented on #802
I put in a PR earlier today @kmomar, please review #808

[2020-07-06 15:25] elizabethwilliams8 commented on #806
Thanks for the feedback @Denubis and @dvanic ! Great point!

[2020-07-10 15:09] #802 closed

[2020-07-20 23:07] kariljordan opened #825 "Update Annual Report on 'About Us' page"
Hi:)

The paragraph below on the [About Us](https://carpentries.org/about/) page should be updated to include the 2019 Annual Report:

Here you will find a range of useful information about our work. For more information on all things Carpentries, see The Carpentries Handbook and for a summary of our impact and operations, see our Annual Report.

Thanks!

[2020-07-21 12:47] maneesha commented on #825
Thanks for bringing this up @kariljordan
Would you like to link directly to the 2019 Annual Report, or would you like to link to the general annual report page: https://carpentries.org/reports/

I would recommend linking to the general annual report page, so that we do not have to update this every year.

[2020-07-21 22:04] kariljordan commented on #825
Great idea @maneesha. Linking to the reports page is a great idea.

[2020-07-23 18:05] #825 closed

[2020-08-10 09:27] annajiat opened #846 "Response Correction for 2020-08-07-IDC-leadership-call-for-applicants"
After applicants fill up the form for 2020-08-07-IDC-leadership-call-for-applicants at https://forms.gle/hssLFFHunLaAHa378

they are getting an outdated response:
"Thank you for your interest and application for the Instructor Development Committee! Interested in learning more? You are invited to attend an interest meeting at either 16h or 23h UTC on 3-April. Sign-up to attend on the instructor-de

[2020-08-10 09:53] serahrono commented on #846
Thanks @annajiat, we have corrected this.

[2020-08-10 09:53] #846 closed

[2020-08-10 09:54] #806 closed

[2020-08-12 18:28] torockel opened #851 "Link in CONTRIBUTING.md on how to contribute via GitHub is broken"
The link `[included below](#using-github)` in CONTRIBUTING.md (https://github.com/carpentries/carpentries.org/blame/7c9bc9e0acc776b2a0d11916bac7418ee2d66ed2/CONTRIBUTING.md#L42) is broken. It should lead to details on how to submit a pull request.

[2020-08-14 20:24] maneesha commented on #851
Thanks for catching this, @torockel
Since we don't have explicit instructions on how to submit a PR, I've removed this note.

Addressed with #852

[2020-08-14 20:24] #851 closed

[2020-09-11 22:17] robitalec opened #874 "Redirect https://carpentries.github.io/"
Hello, I'm wondering if the link:

https://carpentries.github.io/

should redirect to:
https://carpentries.org/

When I'm on, for example, https://carpentries.github.io/instructor-training/, I can click using the navbar on the logo (far left) to get there.

![image](https://user-images.githubusercontent.com/16324625/92977149-cd835800-f466-11ea-9aa7-f13be243c1bc.png)

But I'm wondering if a user wa

[2020-09-14 18:08] maneesha commented on #874
Thanks for raising this issue @robitalec

@fmichonneau  can you provide feedback on this suggestion?

[2020-09-15 13:28] fmichonneau commented on #874
Thank you for pointing this out! https://carpentries.github.io now redirects to https://carpentries.org.

Where do you get a link to https://carpentries.github.io on the instructor training site? For me, clicking on the logo correctly sends me to https://carpentries.org. Thanks again.

[2020-09-15 13:28] #874 closed

[2020-09-16 19:11] robitalec commented on #874
I didn't see a link there anywhere, just noticed it when editing the URL in the address bar.
Looks great! Thanks @fmichonneau

[2020-10-07 10:43] tobyhodges opened #903 "special characters sometimes break anchor links on Community Developed Lesson page"
The links between "List of Community Developed Lessons by Topic" and the indivdual lesson topics don't work in some cases, seemingly due to differences in how the lesson titles are "slugified" when they contain special characters such as `&`. Examples include "Carpentry-style lesson on how to use R, RStudio together with git & Github to promote Open Science practices" and "Building Websites with J

[2020-10-21 09:21] lexnederbragt opened #915 "Change order of repositories on 'Help wanted' page"
I really love the new Help Wanted page!

Currently, the list of repositories starts with the general ones from The Carpentries, i.e. the workshop template, instructor training, styles etc. However, I suspect not many folks new to the community would no immediately consider helping out with these. I think they'd rather would like to start with the lessons. Could the Software and Data Carpentry less

[2020-10-21 09:55] fmichonneau commented on #915
I changed the order of the repos on the backend of things, a different order should appear on that page in a few hours.

[2020-10-21 11:38] kariljordan opened #916 "Update metrics on WeDidIt page"
The metrics on the [WeDidIt](https://carpentries.wedid.it/) page are out dated. I believe we have run workshops in 61 countries. @kmomar can you work on updating the metrics on this page?

[2020-10-21 13:50] kmomar commented on #916
This page isn't managed from GitHub, so I have no way to submit a PR, but I have gone into the donation web interface and updated the three metrics using information from the annual report and am closing this issue

[2020-10-21 13:50] #916 closed

[2020-10-26 14:50] maneesha commented on #915
As an update this PR (https://github.com/carpentries/carpentries.org/pull/919) is pending review by @tobyhodges

[2020-10-26 16:00] tobyhodges commented on #915
Thanks for the ping, @maneesha. That one slipped through the net 🙂

[2020-10-27 09:45] #915 closed

[2020-10-29 13:54] mr-c opened #926 "Add an "edit on GitHub" button for non-blog posts."
I'm a first time contributor to this Git repository, so it took me a while to find that https://github.com/carpentries/carpentries.org/blob/main/pages/member_faq.md is the source for https://carpentries.org/member_faq/ :-)

[2020-11-23 16:25] maneesha commented on #617
This was fixed for the individual RC pages with #930

I am working on a template for the [landing page](https://carpentries.org/regionalcoordinators/) as well.

[2020-12-07 20:59] ErinBecker opened #963 "Move language about sponsored membership"
The become a member page includes the language below in the context of Platinum memberships, but should probably be a more general statement about the possibility of getting a sponsored membership, even if not Platinum. Assigning to myself for follow-up
`
We provide a limited number of sponsored memberships for institutions with financial need and for institutions serving historically underserved

[2020-12-14 10:28] ElnazAmanzadeh opened #968 "BlogPost-DC-Workshop-Iran"
Blog post for “The Carpentries” website.
Well, it was my aim for a long time since I started to learn basics of programming in Python in 2017. I was excited to teach whatever I learned to other people and extend it. I am an analytical biologist and I have a lot of colleagues who were searching someone speaking Persian to learn programming skills from. I think learning in maternal language is cruci

[2020-12-21 14:49] maneesha commented on #963
@ErinBecker  Is this the exact wording you'd like to see? Where on the page would you like it to appear? I can take care of this if you let me know.

[2020-12-21 20:54] kmomar commented on #968
Hi Elnaz, Thank you for submitting this post. I believe you have been in touch with @serahrono, but if not, we are planning on publishing this early in the new year (Most likely within the first week, Jan 4-8). I will create the PR and then send to you for approval before we publish.  Thank you again for writing the post.

[2020-12-21 21:11] kmomar commented on #968
referenced in PR #972

[2021-01-05 18:59] ErinBecker commented on #963
@maneesha - yes this is the exact language to use. Please put it near the end of the page, but still within a section that is general rather than specific to Platinum memberships. Thank you!

[2021-01-11 15:55] #963 closed

[2021-01-15 19:11] maneesha opened #985 "Add past workshops to RC pages"
Currently the RC pages show upcoming workshops only.  Past workshops for each region should also be listed on each respective page.

[2021-01-28 08:20] lexnederbragt opened #989 "Add Code of Conduct Transparency Reports to the reporting page"
https://carpentries.org/reports/ should perhaps also include a link to the reports at https://github.com/carpentries/executive-council-info/tree/master/code-of-conduct-transparency-reports.

[2021-01-28 08:53] serahrono opened #990 "improve content accessibility by making [here] links more descriptive"
As @zkamvar rightly pointed out in PR #867 a few months ago, having a link point to "here" is not accessible for users who use screen-readers to scan for links: https://webaccess.berkeley.edu/ask-pecan/click-here

We invite you to help us make our content more accessible by [creating Pull Requests](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-reques

[2021-01-28 12:10] serahrono opened #992 "improve content accessibility by expanding word contractions"
Word contractions might make readability and comprehension more difficult for some, and it is best to avoid these. [This post provides more context around this](https://medium.com/@joanne.schofield/using-contractions-could-be-making-your-writing-inaccessible-4034bb3cd76a).

We invite you to help us make our content more accessible by [creating Pull Requests](https://docs.github.com/en/github/colla

[2021-01-28 12:27] serahkiburu opened #993 "improve content accessibility by expanding word contractions"
Word contractions might make readability and comprehension more difficult for some, and it is best to avoid these. [This post provides more context around this](https://medium.com/@joanne.schofield/using-contractions-could-be-making-your-writing-inaccessible-4034bb3cd76a).

We invite you to help us make our content more accessible by [creating Pull Requests](https://docs.github.com/en/github/colla

[2021-02-06 00:32] karenword opened #997 "Updating Community Overview page"
The [Instructor Training curriculum](https://carpentries.github.io/instructor-training/21-carpentries/index.html#the-carpentries-community) points at [this page](https://carpentries.org/community/), and with updates happening there it would be ideal to bring this page up to date as well. However, I'm not sure of the best way to do this.

I suggest adding:

- [x] Community Facilitators
- [x] Execut

[2021-02-09 16:18] baskaufs commented on #992
This issue duplicates #993 and should be deleted.

[2021-02-09 16:28] #992 closed

[2021-02-10 19:54] maneesha commented on #702
@kmomar  can this be closed now?

[2021-02-10 20:12] kmomar commented on #702
Yes, sorry should have done it earlier. My apologies!

[2021-02-10 20:12] #702 closed

[2021-02-10 20:16] maneesha commented on #989
Thanks for the suggestion @lexnederbragt

Tagging @fmichonneau as the Core Team Coc liaison - are you OK with this? If so I'll make the change.

[2021-02-16 15:44] maneesha commented on #997
Thanks for bringing this up @karenword
I am tagging @kmomar  and @serahrono  for their feedback.

[2021-02-22 11:30] fmichonneau commented on #989
yes that sounds good. Thanks for taking care of thsi Maneesha!

[2021-02-22 21:35] kmomar commented on #997
Hello @maneesha and @karenword. I agree with most of the edits above. However, I would say that the "network" section serves a similar purpose as the Executive Council section being proposed. We can simplify it, but I would like to keep something similar there or a link to the connect page.

[2021-02-23 09:22] lexnederbragt opened #1004 "New page for past Executive Council members"
With time, the list of past EC members on https://carpentries.org/governance/ is growing and the information at the bottom becomes a bit drowned out. Would it be a good idea to make a separate page for past EC members?

[2021-02-23 14:10] serahrono opened #1005 "update Governance page with new EC composition information"
Now that we have the new Executive Council in place, it would be good to update the Governance page on the website with this information, and perhaps listing the specific EC committees and their composition and role in driving governance.

cc @kariljordan @lexnederbragt @sstevens2

[2021-02-23 14:23] lexnederbragt commented on #1005
Internally already assigned to @konrad.

[2021-02-23 14:32] serahrono commented on #1005
thank you @lexnederbragt @konrad

[2021-02-25 19:42] maneesha commented on #1004
Thanks for suggesting this @lexnederbragt
I can create a separate page for previous years' Executive Council members once the 2021 Executive Council  information is updated.  Based on #1005 I believe @konrad  is working on this.

[2021-02-25 19:43] #989 closed

[2021-02-28 15:58] konrad commented on #1004
I have added the 2021 EC for as discussed in issue #1004 in PR #1011.

[2021-03-04 13:42] #1005 closed

[2021-03-11 18:21] maxim-belkin opened #1023 "Enroll in GitHub Sponsors"
I think all The Carpentries' Github organizations (carpentries, swcarpentry, datacarpentry, and librarycarpentry) should apply for GitHub Sponsors:

![Screen Shot 2021-03-11 at 12 15 35](https://user-images.githubusercontent.com/13123663/110834850-ae258600-8263-11eb-8e39-03df48a19fe8.png)

[2021-03-11 19:42] zkamvar commented on #1023
I do not see this on the page you linked or any of the other pages. Do you have a new GitHub feature enabled?

[2021-03-11 19:47] maxim-belkin commented on #1023
I don't think "GitHub Sponsors" is a new feature... do you not see the "Sponsor" button?

<details><summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/13123663/110845336-22febd00-8270-11eb-9185-19a60fa24a58.png)
</details>

Information about Github sponsors can be found here: https://github.com/sponsors

[2021-03-11 20:05] zkamvar commented on #1023
I see the sponsors button, but I don't see that big red error that you posted on your screenshot. We have it set to custom at the moment: https://github.com/carpentries/.github/blob/master/FUNDING.yml

[2021-03-11 22:47] maxim-belkin commented on #1023
You have to go to https://github.com/swcarpentry/r-novice-gapminder/ and click on "Sponsor" there to see that message.

[2021-03-11 23:36] zkamvar commented on #1023
Ah! Thank you for the clarification! That's a good point.

[2021-03-12 08:04] fmichonneau commented on #1023
Thanks for reporting this Maxim. Because of our fiscal sponsorship status, it's a little tricky. We had started the process before the pandemic hit and didn't finish pursuing it. We are going to look into this more.

[2021-03-12 21:06] jezcope opened #1026 "Add links to Matrix rooms on "Connecting with The Carpentries" page"
Hey folks, a few of you may know that I and a handful of others have been accessing the Carpentries Slack via the [Matrix network](https://matrix.org/), by bridging matrix rooms to Slack channels in a 1:1 relationship.

Until now I've kept most of the matrix rooms private as it's a little experimental and very unofficial, but now Matrix is growing in use I'd love to open them up as another way for

[2021-03-16 18:50] maxim-belkin commented on #1023
Got it. Thanks, François. Feel free to close this if this is on your radar and/or todo list somewhere.

[2021-03-17 11:51] #1004 closed

[2021-03-25 18:33] maneesha opened #1032 "2019 annual report says DRAFT in the title"
The `Title` attribute of this PDF needs to be changed.  Currently it reads:

[code]

and renders like this in a browser or PDF reader:
![image](https://user-images.githubusercontent.com/829690/112525166-fde17280-8d76-11eb-868e-e195ab5f5bd8.png)

I tried to change this programmatically but that messes up the whole PDF.  This may need to be set in the file attributes when creating the PDF.  @ErinBec

[2021-03-25 19:07] maneesha commented on #1026
Thanks for bringing this up @jezcope
Tagging @fmichonneau for input on this, to see if we should include Matrix in our official channels.

[2021-03-31 00:35] karenword commented on #997
Thanks @kmomar -- I'm not particular about precisely what the updates look like, and I understand from @serahrono that broader improvements may be in the works. In the meantime, however, our curriculum currently points new trainees here for the ["What is Your Role?" activity](https://carpentries.github.io/instructor-training/21-carpentries/index.html), so it would be ideal if minor updates could b

[2021-04-11 20:32] bkmgit opened #1039 "Update map automatically"
Instructors map at https://carpentries.org/instructors-map/ seems to be out of date. May want to autogenerate location counts from AMY.

[2021-04-12 15:49] fmichonneau commented on #1039
fixed with https://github.com/carpentries/carpentries.org/commit/d6d91414065fbbe6ce62946a9ad1f1dc5ca416aa

[2021-04-12 18:37] #1039 closed

[2021-04-12 18:38] maneesha commented on #1032
@ErinBecker  Checking in. Let me know if I can help in any way.

[2021-04-12 21:07] ErinBecker commented on #1032
Sorry I dropped this @maneesha. @kmomar - would you mind taking a look at this while you're poking around in Canva for the new annual report?

[2021-04-13 14:17] kmomar commented on #1032
@maneesha and @ErinBecker which page is this referring to? When I open the report, the URL I see is https://carpentries.org/files/reports/TheCarpentries2019AnnualReport.pdf and when I download it, the appears correctly as well?

[2021-04-13 20:40] maneesha commented on #1032
@kmomar  what do you see if you open the pdf from [this page](https://carpentries.org/reports/) in a browser (not a pdf reader) and hover over the tab as I showed in the screenshot above?
I can screenshare with you if you want to see what I mean.

[2021-04-13 20:55] #1032 closed

[2021-04-13 20:56] fmichonneau commented on #1032
I used pdftk to update the metadata and edit the title.

[2021-04-13 21:45] ErinBecker commented on #1032
Thank you François!

On Tue, Apr 13, 2021 at 1:56 PM François Michonneau <
***@***.***> wrote:

--
*Erin Becker*
*Associate Director* with The Carpentries <https://carpentries.org/>
Pronouns: she/her/hers
Schedule a meeting with me: *https://calendly.com/ebecker-1
<https://calendly.com/ebecker-1>*

[2021-04-16 14:21] maneesha commented on #1026
I've discussed this with @jezcope  and @fmichonneau
We'll be reviewing how Matrix works in the next few weeks to make a decision.

[2021-04-16 14:21] maneesha commented on #1023
@fmichonneau  Do you want to keep this open?

[2021-04-16 14:24] maneesha commented on #997
@serahrono  and @kmomar  Are you OK with adding Community Facilitators and Executive Council to the [Community Overview page](https://carpentries.org/community/) as @karenword  suggested above, along with the currently inactive roles?

[2021-04-16 14:25] maneesha commented on #997
Also @kmomar  what is the "network" section you've referred to above as serving a similar purpose to the Executive Council section?

[2021-04-16 14:27] maneesha commented on #968
@kmomar  Can this be closed with #972?

[2021-04-16 14:32] kmomar commented on #997
@maneesha at the bottom of this page https://carpentries.org/community/, above the calendar, there is a section called "Network" that I am uncomfortable removing from the community page, even if the information is available on this page (https://carpentries.org/connect/) as I want to ensure we don't assume people will go to the connect page. Perhaps the best solution is to link to the connect page

[2021-04-16 14:44] maneesha commented on #502
I know this probably won't happen right away, but I'm tagging @Al-Obayuwana on this for future reference.

[2021-04-16 14:45] maneesha commented on #435
@zkamvar and @fmichonneau  Do you want to keep this open?

[2021-04-16 14:46] maneesha commented on #136
@serahrono  I know you're doing a lot of work around accessibility. Is this something you want to keep open?

[2021-04-16 14:47] maneesha commented on #100
Trying to clean up some very old issues :-)

@karenword  @klbarnes20  Is this something you'd like to revisit?

[2021-04-16 15:10] fmichonneau commented on #1023
yes, we're working on it. cc @ErinBecker @Al-Obayuwana

[2021-04-16 15:48] #730 closed

[2021-04-16 18:10] maneesha commented on #384
@serahrono  is this something you'd like to keep open? Are we reconsidering how we share reading material?

[2021-04-16 18:22] maneesha commented on #903
Where is the list of community lessons built from? The file `community_lessons.md` makes it look like it's coming from `site.data.community_lessons` but I don't see that in the `_data` folder.

[2021-04-16 19:50] maneesha commented on #997
@kmomar  I think that is a good idea. Since we don't have completely identical "connect" page and the "Network" section, we can make the "connect" page include all the communication channels, and then have the "Network" section just link to that.  I can work on a PR for review.

I also wanted to see if you're OK with adding Community Facilitators and Executive Council to the Community Overview pag

[2021-04-16 19:57] maneesha commented on #926
@fmichonneau  do you know why we have both `page-fullwidth.html` and `page.html` as layouts? The "Edit on GitHub" option only appears on pages with `post` or `page` layouts.  I can add `page-fullwidth` as well but wanted to check if there was a reason why things were set up differently.

[2021-04-16 20:03] maneesha commented on #448
At this point, our community has grown tremendously, and we've seen people teaching in several other languages other than English, which is super exciting! I'm closing this for now, and will open a new issue when we consider more how we want to share our work in LOTEs, considering our internal capacity, our curriculum, our community, and privacy concerns.

[2021-04-16 20:03] #448 closed

[2021-04-16 20:06] maneesha commented on #449
@fmichonneau Am I remembering correctly that you had a way to do this query so only direct lesson contributions were counted, and not contributions to styles?  This question itself may change as we make changes to the lesson template.

[2021-04-16 20:30] Al-Obayuwana commented on #1023
Thanks Kari and I spoke and we are working on a plan.

[2021-04-17 06:01] TomKellyGenetics commented on #435
To update on this, a workshop in Japanese has been held recently: https://swcarpentry-ja.github.io/2021-04-02-todai-online-en/

Hopefully, more to come. We'll update with a blog post in time.

[2021-04-20 13:31] kmomar commented on #997
I think @karenword's suggestion is totally worth doing

[2021-04-20 20:00] fmichonneau commented on #449
yes. But let's wait to have a larger adoption of the new lesson template before bringing changes to this;

[2021-04-20 20:31] fmichonneau commented on #926
these layouts are coming from the theme we are using. The `page-fullwidth` is typically used for content that takes up the full width of the page (e.g., https://carpentries.org/workshops/), the `page` layout is used for content that doesn't take the full width so it's easier to read longer text and there is room for a sidebar (as in our blog posts).

We could move the chunk of code to edit on gith

[2021-04-23 13:44] maneesha commented on #997
Thanks @kmomar
Do we have information anywhere on the Community Facilitators?  Anything about who they are, what to do, how to get involved would be great.  I can make the update if you share that information.

[2021-04-23 13:51] serahrono commented on #997
hi all, following our Community Orientation session in March, I have several tasks in the pipeline to update the page, and Karen's suggestions fit in it. If it's ok with everyone, I can take ownership of this issue.

[2021-04-27 10:48] serahrono commented on #997
@karenword https://carpentries.org/community/ is now updated, please have a look and close the issue if it addresses your request satisfactorily.

[2021-04-27 20:50] #926 closed

[2021-05-04 20:46] maneesha commented on #997
@karenword  Is this ok to close?

[2021-05-07 13:17] maneesha opened #1063 "Combine data files for communties and profile_pages"
Now that we have  [merged the template to build all our profile pages](https://github.com/carpentries/carpentries.org/pull/1061) ([Trainers](https://carpentries.org/trainers/), [Trainer Alumni](https://carpentries.org/trainer_alumni/), [Instructors](https://carpentries.org/instructors/), [Maintainers](https://carpentries.org/maintainers/), [Mentors](https://carpentries.org/mentors/)), we should co

[2021-05-07 18:07] maneesha opened #1065 "Preserve capitalization when expanding contractions"
[This commit](https://github.com/carpentries/carpentries.org/commit/e71555a3e204cb30ae500542207ce034475b29ad) expands contractions of "don't" to "do not" but it does not preserve capitalization.

[2021-05-21 20:19] maneesha commented on #968
Checking in @kmomar  - can we close this?

[2021-05-21 20:20] maneesha commented on #903
@tobyhodges  Is this something that still needs attention? Do you know about my question above?

[2021-05-21 20:20] maneesha commented on #100
@kmomar  Do you feel this is covered in the recent revamp you did of the testimonials page? https://carpentries.org/testimonials/

[2021-05-21 20:28] kmomar commented on #100
@maneesha I think we can close this issue. Generally, the current testimonials are more focused on what people have taken away from workshops, but we can create a new section or just add testimonials from Instructors, but we can definitely close this one.

[2021-05-21 20:29] kmomar commented on #968
Hi @maneesha sorry I totally thought I closed it... Closing now!

[2021-05-21 20:29] #968 closed

[2021-05-21 20:29] #100 closed

[2021-05-21 20:31] maneesha commented on #997
Checking in @karenword  Can we close this?

[2021-05-25 12:00] tobyhodges commented on #903
Since the new version of the Community Developed Lessons page was published, these "lessons by topic" listings no longer exist and the issue can be closed.

[2021-05-25 12:00] #903 closed

[2021-05-28 15:07] maneesha commented on #1065
Fixed with #1079

[2021-05-28 15:07] #1065 closed

[2021-05-31 15:22] shuuji3 opened #1082 "Slack invitation link is broken"
Hello🙂

[Community Overview](https://carpentries.org/community/) has Slack invitation links (https://swc-slack-invite.herokuapp.com/). But currently, it seems that the page is broken and newcomers (like me) cannot join the Slack channel. Could you fix the link? Thank you.

**Screenshot**

<img width="563" alt="Screen Shot 2021-06-01 at 0 18 25" src="https://user-images.githubusercontent.com/142525

[2021-05-31 22:18] karenword commented on #997
Thanks all -- yes, I think this appears to be up to date!

[2021-05-31 22:18] #997 closed

[2021-06-01 11:52] fmichonneau commented on #1082
it should be back online now. Thanks for reporting. Thanks!

[2021-06-01 11:52] #1082 closed

[2021-06-01 13:37] shuuji3 commented on #1082
Thank you for the quick fix. It works now. Thanks!

<img width="414" alt="Screen Shot 2021-06-01 at 22 33 59" src="https://user-images.githubusercontent.com/1425259/120332650-ebad2300-c329-11eb-9778-0d3dd9420fdf.png">

[2021-06-02 22:41] ErinBecker opened #1086 "Updating Core Team teams page"
The team membership information is a bit outdated on the [Core Team teams page](https://carpentries.org/core-team-projects/). Could this please be updated based on the information in the CT onboarding packet?

[2021-06-02 22:47] ErinBecker commented on #1086
I've just pushed changes to the CT onboarding packet updating the team members and team leads. There will be additional changes in the next month, but please update to the current membership/leadership roles when possible.

[2021-06-03 17:08] maneesha commented on #1086
I can work on this.  Right now the list of names in each team is most often alpha by first name but is not consistently so.  @ErinBecker  do you have a preference for how they are listed?
Also should the teams page identify the team leads? It does not currently.

[2021-06-04 02:19] annajiat opened #1088 "Cannot filter incubator lesson"
At
Browse Community Developed Lessons
https://carpentries.org/community-lessons/#the-carpentries-incubator

I could not find any way to see only the alpha stage lessons but not pre-alpha lessons
As "alpha" is a substring of "pre-alpha", both of them show up.

How do we filter to see only alpha but not pre-alpha?

As a workaround, I used sorting which helped. Thanks for that.

[2021-06-04 09:15] fmichonneau commented on #1088
Thanks for the feedback @annajiat!

We are looking to improve the usability of this page in the future.

For the time being, your workaround is the best way to see the lessons in the "alpha" stage of development.

[2021-06-04 09:37] fmichonneau commented on #1088
Notes:
- category filtering can be implemented on the JS side: https://react-table.tanstack.com/docs/examples/filtering
- but there is no easy way to do this directly in R yet: https://github.com/glin/reactable/issues/9

[2021-06-04 22:37] ErinBecker commented on #1086
Alpha by first name would be great, thanks.

And yes, identifying the team leads on the teams page would be good. Thank you!

[2021-06-10 19:28] maneesha commented on #1086
Fixed with #1092

[2021-06-10 19:28] #1086 closed

[2021-06-23 15:38] maneesha commented on #1063
To do:

- [ ] Rename `description` field in `profile_pages.yml` to `long_description`
- [ ] Rename `description` field in `communities.yml` to 'short_description`
- [ ] Move content from [communities.yml](https://github.com/carpentries/carpentries.org/blob/main/_data/communities.yml) to  [profile_pages.yml](https://github.com/carpentries/carpentries.org/blob/main/_data/profile_pages.yml), consolid

[2021-06-23 22:07] maxim-belkin commented on #1023
I'd be happy to share my ideas, @Al-Obayuwana, if you can point me to a page that describes the plan.

[2021-07-14 14:13] maneesha opened #1121 "Order of icons for core team member accounts should be the same"
[The Team page](https://carpentries.org/team/) lists icons for each team member's accounts (email, github, twitter, etc.).  The order of these icons should be the same for each team member.

[2021-07-30 16:31] maneesha commented on #1121
Fixed with #1133

[2021-07-30 16:31] #1121 closed

[2021-09-03 13:23] maneesha commented on #384
@acrall  and @kmomar  Let me know if this is some thing we should keep open.  Our reading material pages are quite outdated so we may want to consider revamping this completely.

[2021-09-03 13:30] maneesha commented on #136
Last bullet - we do have `h1` header built by the template:

`<h1>The Carpentries Core Team</h1>`

[2021-09-03 13:32] maneesha commented on #136
Bullet about our members - checking this off because we don't have logos on this page so this likely refers to an old version.  Also we are re-doing this page to automatically build from AMY now that we have member status in AMY.

[2021-09-03 13:33] maneesha commented on #136
Bullet about the form to request information - checking this off as we don't have such a form.

[2021-09-03 13:37] maneesha commented on #136
Bullet about gray on gray text in handbook - moving this to the handbook repo

See https://github.com/carpentries/docs.carpentries.org/issues/749

[2021-09-03 13:43] maneesha commented on #136
Bullet about text-heavy About and Testimonials pages - Testimonials page has been updated to just show excerpts, with click through for full text.  About page is still very text heavy.  @kmomar  @acrall  is this something we have plans to address?

[2021-09-03 14:01] maneesha commented on #136
Second bullet about more/here links is addressed with https://github.com/carpentries/carpentries.org/pull/1147

[2021-09-03 14:03] maneesha commented on #136
For the  bullet about tables - our tables on the lessons pages all now include alt text for the images.

[2021-09-03 14:05] maneesha commented on #136
For the bullet about content in Spanish - the content on carpentries.org and the three lesson program sites is all in English.  We do have lessons in other languages.  Tagging @fmichonneau @tobyhodges @zkamvar  to ask where the best place to move this issue would be.  Thanks!

[2021-09-03 14:06] maneesha commented on #435
Tagging @fmichonneau @tobyhodges @zkamvar - Do we want to keep this open? Do we have a place where we maintain lists of official/unofficial lesson translations?

[2021-09-03 14:07] maneesha commented on #502
@Al-Obayuwana  Are we now ready to publish information about the Carpentries Member Council?

[2021-09-03 14:08] maneesha commented on #990
Addressed with https://github.com/carpentries/carpentries.org/pull/1147

[2021-09-03 14:08] #990 closed

[2021-09-03 16:41] maneesha opened #1149 "Add titles to all icons in community profiles"
Community profiles use icons to link to the individuals GitHub, Twitter, etc.  These icons should also have text definintions.

[2021-09-03 16:43] maneesha opened #1150 "Update wedidit links"
Update wedidit links to new fundraising platform: http://give.communityin.org/TheCarpentries

[2021-09-03 16:47] maneesha opened #1152 "Add full country to flag text in community profiles"
PR #1151  adds alt text to all the country flag images in the community profiles.  This only shows the two character country code  though.  This should show the whole country name.

This could be done on the data feed end or on the website via some html/js... will need to look into what's easier.

[2021-09-03 17:05] maneesha commented on #1150
PR #1153 fixes this for the carpentries.org website.

Keeping this open because I need to check on

- [ ] any donation links in the three lesson program site
- [ ] any donation links in the handbook
- [ ] GitHub sponsors (tagging @fmichonneau  on this one)

[2021-09-03 18:18] #1063 closed

[2021-09-03 18:19] #1149 closed

[2021-09-03 19:27] maneesha commented on #993
I just put in another PR to address some more contractions but would like to learn more about how contractions interfere with accessibility and comprehension.  The blog post cited in opening this issue doesn't refer to any research, and doesn't follow this advice itself (i.e. there are several contractions in that blog post).  There are also several contractions in the guide that the blog post cit

[2021-09-03 19:46] maneesha commented on #1023
How ever this gets set up, we should be sure we are using the correct fundraising link.  See https://github.com/carpentries/carpentries.org/issues/1150

[2021-09-03 20:16] maneesha commented on #1026
We are continuing to discuss this internally to understand the benefits of maintaining and promoting Matrix in addition to Slack.

[2021-09-07 21:45] kaylendwyer commented on #993
@maneesha I spent some time trying to verify whether contractions decrease readability. I went through guidelines on plain language from various organizations and tried to find studies on readability. Unfortunately, there is no final consensus on using contractions. Plain language guidelines rarely cite research to back up their claims, and I had trouble tracking down their sources.

**Overall:**

[2021-09-08 20:14] maneesha commented on #1150
Tagging @acrall FYI

[2021-09-09 18:00] kmomar commented on #136
@maneesha @acrall In reference to the about page, Alycia and I are considering something similar to the testimonials page change where there are dropdowns rather than hyperlinks to the section. Would this be a good path forward?

[2021-09-09 18:10] kmomar commented on #384
@maneesha @acrall we are planning to wait for the new website to see the best way to transition this info to our main website. In terms of keeping this info updated, perhaps there is a way to get the community involved.

[2021-09-14 12:39] maneesha commented on #1150
Lesson programs - all sites redirect to carpentries.org
Handbook - fixed with https://github.com/carpentries/docs.carpentries.org/pull/753

@fmichonneau  do we need to do anything with GitHub sponsors?

[2021-09-14 12:41] maneesha commented on #502
@Al-Obayuwana  Can we update information about the CMC now? I have heard there are meetings coming up but I don't know the details.  A web page isn't the place to list actual meeting dates but would be a good place to list what the member council is, how to get involved as a member site, what the goals are, etc.

[2021-09-14 12:47] fmichonneau commented on #1150
Yes, we are going to need to update the links across our lessons. I've put this on our curriculum team agenda.

[2021-09-20 16:30] maneesha commented on #1150
Thanks @fmichonneau
Do you want to keep this issue open here?

[2021-09-20 19:13] fmichonneau commented on #1150
I took care of this on Friday across all our lessons.

[2021-09-20 19:13] #1150 closed

[2021-09-21 10:40] maneesha opened #1166 "Include map on members page"
PR #1163 builds the membership list from data in AMY.  Once that is merged, we'd also like to include a map view of all memberships.  This is fairly straightforward to implement except for how we handle listing consortium members.  I'd like to get feedback from people on the Core Team Membership Team
(tagging @Al-Obayuwana  @elletjies  @Talishask  for now) about how we might handle listing consort

[2021-09-23 15:55] maneesha opened #1168 "Incorrectly formatted link on values page"
On our [values page](https://carpentries.org/values/) the link to the Values Task force is incorrectly formatted.

[2021-09-24 10:27] #1168 closed

[2021-10-01 12:19] maneesha commented on #1152
Note this will apply to our member list page too (https://carpentries.org/members/)

[2021-10-11 14:13] maneesha opened #1185 "Should we remove inactive communities from "volunteer" page?"
On the [volunteer page](https://carpentries.org/volunteer/) we see large boxes representing various segments of our community.

This includes inactive groups like Assessment, Champions, Lesson Infrastructure.  They are all listed as inactive on our [community page](https://carpentries.org/community/).  Should we consider removing them from the big boxes in the volunteer page?

Tagging @kmomar  @ac

[2021-10-11 14:34] maneesha opened #1188 "Keeping external Carpentries related resources in sync with current systems"
On our [Development of Lessons page](https://carpentries.org/community/) we link to an [external tutorial on contributing via GitHub](https://github.com/dmgt/swc_github_flow/blob/master/for_novice_contributors.md).  It is not in sync with our current systems.  It's not an entirely external resource as it is directly about Carpentries work.

- The guide asks people to email checkout@carpentries.org

[2021-10-11 14:37] maneesha opened #1189 "Update information on CarpentryCon task force"
The [CarpentryCon task force](https://carpentries.org/carp-con-tf/) page is out of date.  It refers to us planning CC2020 and that we will be planning CC2021.

Tagging @acrall  for review.

[2021-10-11 15:19] maneesha opened #1195 "Add podcast release dates"
It's great to see our [podcasts listed on our website](https://carpentries.org/podcasts/)! Could we add in release dates for each episode to the description?

[2021-10-11 15:23] maneesha opened #1197 "Frequency of community discussion sessions"
The [community discussion page](https://carpentries.org/community_discussions/) notes that pre/post discussions are twice a week and that themed discussions and conversations are once a month.  How should we rephrase this given we are not running sessions on a set frequency like this? Should we remove the references to the frequency entirely?

Tagging @acrall  @kmomar

[2021-10-11 16:37] maneesha opened #1199 "Update IRB and consent information"
The IRB and consent information on our [assessment page](https://carpentries.org/assessment/) and surveys should be updated to reflect how we currently collect survey data.

[2021-10-11 19:02] maneesha opened #1201 "Link to Bonus Module in online workshop recommendations"
The [Online workshop recommendations](https://carpentries.org/online-workshop-recommendations/) page notes:

Can we update this to directly refer to our online teaching bonus modules, or was this referring to something else?
Tagging @klbarnes20  for feedback.

[2021-10-18 13:39] fmichonneau commented on #1023
Yes, thanks Maneesha!

[2021-10-18 16:57] maneesha opened #1210 "Contact person for Mentee/Mentor applications"
In the [Instructor Development/Mentoring Groups](https://carpentries.org/community/#instructor-development) section of the Community page, we have links to Mentee and Mentor applications.  The applications are currently closed, but refer to an external community member as the key contact. Should this be changed to have a Core Team contact?

[2021-10-18 17:05] maneesha opened #1213 "Update Maintainer Application"
On the [Maintainers section of the Community page](https://carpentries.org/community/#maintainers), there is a link to "Apply to become a Maintainer" that is out of date.   It says applications closed April 2020 and we hope to reopen later that year.  Do we have a new form to link to?

tagging @carpentries/core-team-curriculum

[2021-10-21 17:13] #1197 closed

[2021-11-01 15:38] maneesha commented on #1185
Fixed with #1220

[2021-11-01 15:38] #1185 closed

[2021-11-01 20:28] acrall commented on #1189
@maneesha I put in a pull request [here](https://github.com/carpentries/carpentries.org/pull/1227)

[2021-11-08 13:54] maneesha commented on #1213
Pinging @ErinBecker

[2021-11-08 13:55] maneesha commented on #1210
Pinging @acrall

[2021-11-08 13:55] maneesha commented on #1201
Pinging @klbarnes20

[2021-11-08 13:56] maneesha commented on #1199
Pinging @ErinBecker
Note that the surveys themselves also refer to the IRB.

[2021-11-08 13:57] maneesha commented on #1189
Fixed for now with #1227
We should be sure to update this page as planning CC2022 continues.

[2021-11-08 13:57] #1189 closed

[2021-11-08 13:57] maneesha commented on #1195
Pinging @kmomar

[2021-11-08 13:58] maneesha commented on #1188
Pinging @carpentries/core-team-curriculum for feedback.  Could we consider making this guide our own so we can ensure it stays up to date?

[2021-11-08 16:44] zkamvar commented on #1188
I'll put this on our team meeting agenda for this week.

[2021-11-08 19:03] karenword commented on #1188
Related: at a recent Trainer meeting it was suggested that [this resource developed for a CarpentryConnect event in Australia](https://github.com/DamienIrving/teaching/blob/master/carpentries_connect_2021.md) would be a good guide for lesson contributions. On the one hand, community-created resources have maintenance challenges like those noted here. On the other hand, they are a valuable way to r

[2021-11-17 17:46] maneesha commented on #1199
Bumping this up @ErinBecker
We got a comment recently from a host site that was concerned that the survey looked like a research study, rather than something that intended for programmatic feedback and development.

[2021-11-17 23:31] ErinBecker commented on #1199
Thanks for bumping this Maneesha. I'm actually working with Kelly and Karen
on updating this language on the Instructor Training surveys this week and
will bring those changes over to our other surveys at the same time.

On Wed, Nov 17, 2021 at 9:46 AM maneesha sane ***@***.***>
wrote:

--
*Erin Becker*
*Associate Director* with The Carpentries <https://carpentries.org/>
Pronouns: she/her/hers
Sch

[2021-11-22 21:34] klbarnes20 commented on #1201
Sorry for missing this. I added some text and requested you and Karen review: #1243

[2021-12-08 16:31] maneesha commented on #1195
Hey @kmomar  if you can list the release dates here, I can take care of a PR.

[2021-12-08 16:31] maneesha commented on #1210
Hi @acrall  Are you managing the mentoring program?

[2021-12-08 16:32] maneesha commented on #1213
If anyone on @carpentries/core-team-curriculum can share what should go here, I can put in a PR.

[2021-12-08 16:33] maneesha commented on #1201
Fixed with #1243

[2021-12-08 16:33] #1201 closed

[2021-12-08 16:33] maneesha commented on #1188
Checking in to see if @carpentries/core-team-curriculum has any updates.

[2021-12-08 16:39] kmomar commented on #1195
Hi @maneesha sorry about the delay! I'll look for the release dates and add them

[2021-12-08 22:34] ErinBecker commented on #1213
Thank you @maneesha! We will not have a continuously open application for this, but will open applications at particular times. This program functions much more like the Trainer Training program than like Instructor Training. Could you please put in a PR to note that upcoming rounds of Maintainer Onboarding will be announced on our blog and newsletter?

[2021-12-09 14:37] #1213 closed

[2021-12-16 13:44] fmichonneau commented on #1188
I contacted the authors on Nov 18 but haven't heard back. I plan to ping them again mid-January.

[2021-12-16 15:49] MCMaurer commented on #1188
I'm sorry for not updating here sooner, but I did get in contact with Dana this week and got the thumbs up to transfer the repository. I responded with instructions for transferring the repository, I will update here once that process is completed.

[2021-12-20 20:52] maneesha commented on #1166
Fixed with https://github.com/carpentries/carpentries.org/pull/1270

[2021-12-20 20:52] #1166 closed

[2021-12-20 20:52] Al-Obayuwana commented on #1166
-- Please reply above this line --

Hello,

Thank you for your email. Due to the holiday season, we will have a
reduced team attending to this inbox through 4 January. If this is not
an urgent matter, please expect a response following our return to
work in January.

If this is an urgent matter, please email ***@***.*** and
indicate "URGENT" in your email header and someone from our team will
be i

[2021-12-21 15:00] maneesha commented on #1152
Closed with #1272

[2021-12-21 15:00] #1152 closed

[2021-12-28 15:25] acrall commented on #1210
@maneesha Many apologies for such a long delay with this. I was trying to get some additional information. Let's change the contact to community@carpentries.org for now. I still need to figure a few things out with this but that will give the community a point of contact until we determine next steps. Thanks!

[2021-12-28 15:31] acrall commented on #1210
@maneesha Many apologies for such a long delay with this. I was trying to get some additional information. I saw you changed it to my email address, so thank you. Closing this issue

[2021-12-30 17:38] kariljordan opened #1292 "Supporters Page outdated"
The [Supporters](https://carpentries.org/supporters/) page needs to be updated with information including our current grants. Before updating I'd like to know the plans for this page for the new website and whether this page will be included.

[2022-01-04 12:10] maneesha commented on #1210
Re-opening this @acrall  as this was referring to the application forms which still refer to a community member and are out of date.  This should be resolved.

[2022-01-05 23:28] ErinBecker opened #1290 "Add me as Membership Team Lead"
Please add me as Membership Team Lead on the core-team page. Thanks!

[2022-01-06 11:59] maneesha commented on #1290
Fixed with #1291

[2022-01-06 11:59] #1290 closed

[2022-01-10 17:55] maneesha commented on #1292
Bump @Talishask

[2022-01-10 17:56] maneesha commented on #1210
Checking in @acrall

[2022-01-10 17:59] Talishask commented on #1292
Thanks @maneesha . I have this on my list of things and will work with Kari on how it fits in the list of priorities.

[2022-01-11 21:04] kariljordan commented on #1292
@Talishask we are working on a guide for the community to use when collaborating with The Carpentries on grants. The guide will be published 1 February and will include a link to our supporters page. Having this page updated by the end of January would be fantastic. I can't imagine it taking that long, and I'm happy to submit the PR myself if needed.

[2022-01-12 05:55] fmichonneau commented on #1188
The authors of the tutorial transferred their repository to the carpentries incubator: https://github.com/carpentries-incubator/swc_github_flow

[2022-01-14 11:27] maneesha commented on #1292
@Talishask  @kariljordan  However you want to handle it is fine.  If I have all the info, I'm happy to do this.  If it's easier for one of you to do it directly, that works too.

[2022-01-14 21:21] kariljordan commented on #1292
PR is in!  #1299

[2022-01-26 00:04] acrall commented on #1210
Opened a [pull request](https://github.com/carpentries/carpentries.org/pull/1305) that will hopefully resolve this issue. Sorry for the misunderstanding

[2022-01-28 21:16] maneesha commented on #1210
Thanks Alycia! Fixed with #1305

[2022-01-28 21:16] #1210 closed

[2022-01-31 19:23] maneesha commented on #1292
Fixed with #1299

[2022-01-31 19:23] #1292 closed

[2022-02-09 15:12] maneesha commented on #617
Closing this because RC program is transitioning.  We can revisit if we need anything else.

[2022-02-09 15:12] #617 closed

[2022-02-09 15:12] maneesha commented on #985
Closing this because RC program is transitioning.  We can revisit if we need anything else.

[2022-02-09 15:12] #985 closed

[2022-02-24 12:19] maneesha opened #1329 "Add welcome sessions to community discussions overview page"
The [Community Discussions page](https://carpentries.org/community_discussions/) lists three types of community discussions.
@acrall  Should we add welcome sessions to this page?

Feel free to put in a PR or share the information in this issue and I'll take care if it.

[2022-02-24 15:04] maneesha opened #1332 "Are we accepting submissions to Carpentries Lab?"
On our [community page](https://carpentries.org/community/#lesson-developers) we say we are not currently accepting submissions to The Carpentries Lab.

On our [community lessons page](https://carpentries.org/community-lessons/#the-carpentries-lab) we say we are accepting submissions.

@tobyhodges  could you clarify which is correct? Assigning to you just to answer in this issue (and I'll take car

[2022-02-24 18:16] maneesha opened #1338 "Typeform for blog posts?"
At the bottom of the [join page](https://carpentries.org/join/) there is a link to Typeform to submit a blog post.  It refers to the Software Carpentry and Data Carpentry blogs, so I'm guessing this isn't being used.  @kmomar  would you like to remove this or replace it with something else?

@kmomar  Feel free to respond here and I'll make the change - or if you'd like, you're welcome to put in a

[2022-02-24 18:21] maneesha opened #1339 "Link to sponsorship page?"
The [join page](https://carpentries.org/join/) says to get in touch if interested in becoming a sponsoring organisation.  Instead, should it link to the [sponsorship](https://carpentries.org/sponsorship/) page?

@kmomar  Feel free to respond here and I'll make the change - or if you'd like, you're welcome to put in a PR yourself!

[2022-02-24 19:27] maneesha opened #1340 "Direct users to CarpentryCon websites"
On the [Carpentry Con page](https://carpentries.org/carp-con-tf/) we have a lot of information that duplicates what is on the CarpentryCon websites. I'd like to re-organize this page so it only includes summary information, and links to each year's CarpentryCon website for more information about task force members and other information.  This will help us avoid repetitive and potentially erroneous

[2022-02-24 20:29] kmomar commented on #1339
@maneesha I think we should change the call to action to learn more on the sponsorship page as you are suggesting.

[2022-02-24 20:29] kmomar commented on #1338
@maneesha let's remove that link

[2022-02-24 20:32] kmomar commented on #1195
@maneesha I'm sorry for the endless delay on this. The only way I can think to find these is to look through all our tweets for when we posted these and it's been on the backburner for a while now. I promise I have not forgotten

[2022-02-24 21:07] maneesha commented on #1195
No worries - not super high priority.

[2022-03-01 14:32] maneesha commented on #1339
Fixed with #1342

[2022-03-01 14:32] #1339 closed

[2022-03-01 14:32] maneesha commented on #1338
Fixed with #1342

[2022-03-01 14:32] #1338 closed

[2022-03-15 10:20] maneesha commented on #1340
Checking in @acrall

[2022-03-15 10:20] maneesha commented on #1332
checking in @tobyhodges

[2022-03-15 10:21] maneesha commented on #1329
Checking in @acrall

[2022-03-15 10:24] maneesha commented on #1188
Now that we own the repo, will the Curriculum Team @carpentries/core-team-curriculum be updating this given the points noted above?

[2022-03-15 14:28] #1332 closed

[2022-03-15 17:30] maneesha commented on #1026
@fmichonneau Do you want to keep this open?

[2022-03-15 17:32] maneesha commented on #502
@ErinBecker  Do we have information on the  member council to update now?

[2022-03-15 17:33] maneesha commented on #435
Bump @fmichonneau @tobyhodges @zkamvar - Do we want to keep this open? Do we have a place where we maintain lists of official/unofficial lesson translations?

[2022-03-16 09:51] tobyhodges commented on #435
I believe this is related to the work @acrall is leading with the Community Development Program and establishing a registry of The Carpentries subcommunities. Specifically, I can imagine that the registry of subcommunities will provide us with a way for community members to list efforts being made towards internationalisation of our lessons and other content. Just yesterday I heard from one of our

[2022-03-16 14:37] #136 closed

[2022-03-16 15:54] tobyhodges commented on #1188
The Curriculum Team has taken care of the most pressing points you mentioned above, and we have created issues for the others, adding the `help-wanted` label in the hope that someone will help us further improve the resource. I've added the repository to [the Help Wanted Issues listing](https://carpentries.org/help-wanted-issues) to further help with this.

I'm going to close this issue now.

[2022-03-16 15:54] #1188 closed

[2022-03-16 19:41] acrall commented on #435
Thanks, @tobyhodges, for tagging me on this. This issue was raised yesterday during the second call for the CDP. Myself, and a couple of community members on that call, plan to pull together a themed community discussion on this very topic. We thought a Community Discusssion might serve as a nice foundation to potentially propose a session or session(s) for CarpentryCon.

[2022-03-28 18:35] karenword commented on #1199
The IRB language has now been removed from the surveys. We do not have plans to renew at this time.

[2022-03-28 19:31] maneesha commented on #1199
I still see this language on our workshop surveys  and on our [assessment page](https://carpentries.org/assessment/)

[2022-03-30 01:03] ErinBecker commented on #502
The Membership Council will meet quarterly on the fourth Tuesday of February, May, August, and November. The upcoming year's meeting times are listed on https://pad.carpentries.org/membership-council along with connection information. The meetings are also now listed on the community calendar. @maneesha please let me know what other information might be useful here.

[2022-03-30 10:19] maneesha commented on #502
Thanks @ErinBecker
Could we say anything about who these meeting are open to, or what the purpose of the membership council is?

[2022-03-31 10:21] maneesha commented on #1026
I am closing this issue because there are no significant benefits of maintaining and promoting Matrix in addition to Slack, given the time and effort it would require.

[2022-04-01 12:43] maneesha commented on #1199
Bumping this @karenword  @ErinBecker  since we have been getting questions from our community about this.

[2022-04-04 00:31] acrall commented on #1340
@maneesha, I think this is a great idea. I'm having issues finding the edits you made via #1355 but will check in with you via Slack

[2022-04-04 15:27] acrall commented on #1329
@maneesha I consider the Welcome Sessions as themed community discussions but I will bring this up with the CDT at our next meeting to discuss

[2022-04-05 19:02] #1340 closed

[2022-04-05 19:03] maneesha commented on #384
I am closing this, to be revisited in developing our new website.

[2022-04-05 19:03] #384 closed

[2022-04-05 19:20] maneesha commented on #1195
I started to dig through tweets to see what we can find.

[Fireside Chats is called Episode 1 on Twitter](https://twitter.com/thecarpentries/status/1371513694685949952), was tweeted on March 15 2021.

[Equity and Inclusion is called Episode 2 on Twitter](https://twitter.com/thecarpentries/status/1375511333836222466) and was tweeted on March 20 2021.

[Community Building online is called Episode 3

[2022-04-05 19:31] ErinBecker commented on #1199
Thanks @maneesha. The language had been removed from the Instructor Training surveys but not the pre and post workshop surveys. @karenword is working with @klbarnes20 on making these changes across all surveys.

[2022-04-05 20:55] maneesha commented on #1199
Thanks @ErinBecker
Do you want to also edit/remove language on the [assessment page](https://carpentries.org/assessment/)?

[2022-04-05 20:57] maneesha commented on #449
Closing this here and keeping it open in the [feeds.carpentries.org repo(https://github.com/carpentries/feeds.carpentries.org/issues/24)

[2022-04-05 20:57] #449 closed

[2022-04-06 18:17] #1195 closed

[2022-04-06 20:41] ErinBecker commented on #502
@maneesha - Member Council meetings are intended for representatives of existing member organisations. We send out invitations to our current members about a month in advance of each meeting. That being said, we don't require any proof for attendance so technically they're open to the community.

In terms of purpose, how about:
"Member Council meetings are a quarterly opportunity for Members to co

[2022-04-07 19:45] maneesha commented on #502
Fixed with #1368

[2022-04-07 19:45] #502 closed

[2022-04-07 19:47] maneesha commented on #1199
Thanks @klbarnes20
I am closing this issue here as the surveys are not part of the website repo.

[2022-04-07 19:47] #1199 closed

[2022-04-18 17:55] acrall commented on #435
I'm tagging others here who I've been communicating with about pulling together a relevant Community Discussion: @joelnitta @annajiat @dpshelio @yabellini @paocorrales @elletjies

[2022-04-25 18:59] karlbenedict opened #1374 "The Instructors Map page is displaying a google map development only error"
The Instructors Map page (https://carpentries.org/instructors-map/) is showing the Google Maps error that in my experience has been associated with a Google Maps API key associated with an account that hasn't connected a credit card with the account. Several years ago Google changed their API use policy to require that all accounts, even those operating within the free usage tier, link a credit ca

[2022-04-27 13:19] kariljordan opened #1378 "Issues with Slack links on welcome tip sheet"
During the community welcome session I led today we went through the [welcome tip sheet](https://carpentries.org/welcome-tip-sheet/). When the participants clicked to join the various Slack channels the link led them to this page:

https://swcarpentry.slack.com/

This page requires that you sign in to Slack. If you have never joined our Slack organisation, you actually need to visit this page:

ht

[2022-04-27 21:19] maneesha commented on #1378
Fixed with #1379

[2022-04-27 21:19] #1378 closed

[2022-04-28 20:59] fmichonneau commented on #1374
thanks for pointing this out! It should now be fixed.

[2022-04-28 20:59] #1374 closed

[2022-05-01 08:18] joelnitta commented on #435
@acrall Thanks for the call-out.

It's nice to see the interest this thread has generated, but as implied by @tobyhodges' comment [above](https://github.com/carpentries/carpentries.org/issues/435#issuecomment-1068933128), I think it is clear we need a **centralized home for translation efforts and information** (not just this issue!).

On [a recent community call](https://docs.google.com/document/

[2022-05-03 03:03] acrall commented on #435
@joelnitta Thanks for these ideas, I really appreciate the time you have taken to consider how to support these efforts within the community. I will bring this up with the Community Development Team to see how we can support via a team project and/or new program, but I would like to better understand precisely what is needed. I think the Community Discussion and conversations via the #internationa

[2022-05-03 22:27] joelnitta commented on #435
@acrall Thanks for facilitating this! My ideas are just starting points; I agree the details need to be hashed out. I look forward to doing so in the #internationalisation channel and Community Discussion. I appreciate you inviting other Core Team members, as this clearly needs support from the Core Team to move forward.

[2022-05-09 04:50] annajiat opened #1396 "Missing footnotes at 2022-05-05-workbench-beta.md"
At https://carpentries.org/blog/2022/05/workbench-beta

Under "Beta Logistics"
the footnote for non-reversible[1](https://carpentries.org/blog/2022/05/workbench-beta/#fn:1)
is not leading to a text. Should there be a footnote?

Under "Website URLs"
Should the example URLs be replaced with plain text as the hyperlinks don't lead anywhere or should it be replaced with links from a lesson which alrea